{
  "swagger": "2.0",
  "info": {
    "title": "RedisManagementClient",
    "description": "REST API for Azure Redis Cache Service.",
    "version": "2016-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}": {
      "put": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_Create",
        "description": "Create or replace (overwrite/recreate, with potential downtime) an existing Redis cache.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisCreateParameters"
            },
            "description": "Parameters supplied to the Create Redis operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            }
          }
        },
        "x-ms-examples": {
          "BeginCreateFunctionalTestPUT15": {
            "$ref": "../examples/BeginCreateFunctionalTest-PUT-example-15.json"
          },
          "CreateUpdateDeleteTestPUT11": {
            "$ref": "../examples/CreateUpdateDeleteTest-PUT-example-11.json"
          },
          "PatchSchedules_PutGetDeletePUT15": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-PUT-example-15.json"
          },
          "RebootBothNodesTestPUT15": {
            "$ref": "../examples/RebootBothNodesTest-PUT-example-15.json"
          },
          ".ctorPUT15": {
            "$ref": "../examples/.ctor-PUT-example-15.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_Update",
        "description": "Update an existing Redis cache.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisUpdateParameters"
            },
            "description": "Parameters supplied to the Update Redis operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            }
          }
        },
        "x-ms-examples": {
          "CreateUpdateDeleteTestPATCH135": {
            "$ref": "../examples/CreateUpdateDeleteTest-PATCH-example-135.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_Delete",
        "description": "Deletes a Redis cache.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "x-ms-examples": {
          "BeginCreateFunctionalTestDELETE121": {
            "$ref": "../examples/BeginCreateFunctionalTest-DELETE-example-121.json"
          },
          "CreateUpdateDeleteTestDELETE136": {
            "$ref": "../examples/CreateUpdateDeleteTest-DELETE-example-136.json"
          }
        }
      },
      "get": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_Get",
        "description": "Gets a Redis cache (resource description).",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RedisResource"
            }
          }
        },
        "x-ms-examples": {
          "BeginCreateFunctionalTestGET16": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-16.json"
          },
          "BeginCreateFunctionalTestGET17": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-17.json"
          },
          "BeginCreateFunctionalTestGET18": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-18.json"
          },
          "BeginCreateFunctionalTestGET19": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-19.json"
          },
          "BeginCreateFunctionalTestGET110": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-110.json"
          },
          "BeginCreateFunctionalTestGET111": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-111.json"
          },
          "BeginCreateFunctionalTestGET112": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-112.json"
          },
          "BeginCreateFunctionalTestGET113": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-113.json"
          },
          "BeginCreateFunctionalTestGET114": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-114.json"
          },
          "BeginCreateFunctionalTestGET115": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-115.json"
          },
          "BeginCreateFunctionalTestGET116": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-116.json"
          },
          "BeginCreateFunctionalTestGET117": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-117.json"
          },
          "BeginCreateFunctionalTestGET118": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-118.json"
          },
          "BeginCreateFunctionalTestGET119": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-119.json"
          },
          "BeginCreateFunctionalTestGET120": {
            "$ref": "../examples/BeginCreateFunctionalTest-GET-example-120.json"
          },
          "CreateUpdateDeleteTestGET12": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-12.json"
          },
          "CreateUpdateDeleteTestGET13": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-13.json"
          },
          "CreateUpdateDeleteTestGET14": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-14.json"
          },
          "CreateUpdateDeleteTestGET15": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-15.json"
          },
          "CreateUpdateDeleteTestGET16": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-16.json"
          },
          "CreateUpdateDeleteTestGET17": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-17.json"
          },
          "CreateUpdateDeleteTestGET18": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-18.json"
          },
          "CreateUpdateDeleteTestGET19": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-19.json"
          },
          "CreateUpdateDeleteTestGET110": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-110.json"
          },
          "CreateUpdateDeleteTestGET111": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-111.json"
          },
          "CreateUpdateDeleteTestGET112": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-112.json"
          },
          "CreateUpdateDeleteTestGET113": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-113.json"
          },
          "CreateUpdateDeleteTestGET114": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-114.json"
          },
          "CreateUpdateDeleteTestGET115": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-115.json"
          },
          "CreateUpdateDeleteTestGET116": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-116.json"
          },
          "CreateUpdateDeleteTestGET117": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-117.json"
          },
          "CreateUpdateDeleteTestGET118": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-118.json"
          },
          "CreateUpdateDeleteTestGET119": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-119.json"
          },
          "CreateUpdateDeleteTestGET120": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-120.json"
          },
          "CreateUpdateDeleteTestGET121": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-121.json"
          },
          "CreateUpdateDeleteTestGET122": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-122.json"
          },
          "CreateUpdateDeleteTestGET123": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-123.json"
          },
          "CreateUpdateDeleteTestGET124": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-124.json"
          },
          "CreateUpdateDeleteTestGET125": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-125.json"
          },
          "CreateUpdateDeleteTestGET126": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-126.json"
          },
          "CreateUpdateDeleteTestGET127": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-127.json"
          },
          "CreateUpdateDeleteTestGET128": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-128.json"
          },
          "CreateUpdateDeleteTestGET129": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-129.json"
          },
          "CreateUpdateDeleteTestGET130": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-130.json"
          },
          "CreateUpdateDeleteTestGET131": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-131.json"
          },
          "CreateUpdateDeleteTestGET132": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-132.json"
          },
          "CreateUpdateDeleteTestGET133": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-133.json"
          },
          "CreateUpdateDeleteTestGET134": {
            "$ref": "../examples/CreateUpdateDeleteTest-GET-example-134.json"
          },
          "GetTestGET11": {
            "$ref": "../examples/GetTest-GET-example-11.json"
          },
          "PatchSchedules_PutGetDeleteGET16": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-16.json"
          },
          "PatchSchedules_PutGetDeleteGET17": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-17.json"
          },
          "PatchSchedules_PutGetDeleteGET18": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-18.json"
          },
          "PatchSchedules_PutGetDeleteGET19": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-19.json"
          },
          "PatchSchedules_PutGetDeleteGET110": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-110.json"
          },
          "PatchSchedules_PutGetDeleteGET111": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-111.json"
          },
          "PatchSchedules_PutGetDeleteGET112": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-112.json"
          },
          "PatchSchedules_PutGetDeleteGET113": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-113.json"
          },
          "PatchSchedules_PutGetDeleteGET114": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-114.json"
          },
          "PatchSchedules_PutGetDeleteGET115": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-115.json"
          },
          "PatchSchedules_PutGetDeleteGET116": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-116.json"
          },
          "PatchSchedules_PutGetDeleteGET117": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-117.json"
          },
          "PatchSchedules_PutGetDeleteGET118": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-118.json"
          },
          "PatchSchedules_PutGetDeleteGET119": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-119.json"
          },
          "PatchSchedules_PutGetDeleteGET120": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-120.json"
          },
          "PatchSchedules_PutGetDeleteGET121": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-121.json"
          },
          "PatchSchedules_PutGetDeleteGET122": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-122.json"
          },
          "PatchSchedules_PutGetDeleteGET123": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-123.json"
          },
          "PatchSchedules_PutGetDeleteGET124": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-124.json"
          },
          "RebootBothNodesTestGET16": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-16.json"
          },
          "RebootBothNodesTestGET17": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-17.json"
          },
          "RebootBothNodesTestGET18": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-18.json"
          },
          "RebootBothNodesTestGET19": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-19.json"
          },
          "RebootBothNodesTestGET110": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-110.json"
          },
          "RebootBothNodesTestGET111": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-111.json"
          },
          "RebootBothNodesTestGET112": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-112.json"
          },
          "RebootBothNodesTestGET113": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-113.json"
          },
          "RebootBothNodesTestGET114": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-114.json"
          },
          "RebootBothNodesTestGET115": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-115.json"
          },
          "RebootBothNodesTestGET116": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-116.json"
          },
          "RebootBothNodesTestGET117": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-117.json"
          },
          "RebootBothNodesTestGET118": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-118.json"
          },
          "RebootBothNodesTestGET119": {
            "$ref": "../examples/RebootBothNodesTest-GET-example-119.json"
          },
          ".ctorGET16": {
            "$ref": "../examples/.ctor-GET-example-16.json"
          },
          ".ctorGET17": {
            "$ref": "../examples/.ctor-GET-example-17.json"
          },
          ".ctorGET18": {
            "$ref": "../examples/.ctor-GET-example-18.json"
          },
          ".ctorGET19": {
            "$ref": "../examples/.ctor-GET-example-19.json"
          },
          ".ctorGET110": {
            "$ref": "../examples/.ctor-GET-example-110.json"
          },
          ".ctorGET111": {
            "$ref": "../examples/.ctor-GET-example-111.json"
          },
          ".ctorGET112": {
            "$ref": "../examples/.ctor-GET-example-112.json"
          },
          ".ctorGET113": {
            "$ref": "../examples/.ctor-GET-example-113.json"
          },
          ".ctorGET114": {
            "$ref": "../examples/.ctor-GET-example-114.json"
          },
          ".ctorGET115": {
            "$ref": "../examples/.ctor-GET-example-115.json"
          },
          ".ctorGET116": {
            "$ref": "../examples/.ctor-GET-example-116.json"
          },
          ".ctorGET117": {
            "$ref": "../examples/.ctor-GET-example-117.json"
          },
          ".ctorGET118": {
            "$ref": "../examples/.ctor-GET-example-118.json"
          },
          ".ctorGET119": {
            "$ref": "../examples/.ctor-GET-example-119.json"
          },
          ".ctorGET120": {
            "$ref": "../examples/.ctor-GET-example-120.json"
          },
          ".ctorGET121": {
            "$ref": "../examples/.ctor-GET-example-121.json"
          },
          ".ctorGET122": {
            "$ref": "../examples/.ctor-GET-example-122.json"
          },
          ".ctorGET123": {
            "$ref": "../examples/.ctor-GET-example-123.json"
          },
          ".ctorGET124": {
            "$ref": "../examples/.ctor-GET-example-124.json"
          },
          ".ctorGET125": {
            "$ref": "../examples/.ctor-GET-example-125.json"
          },
          ".ctorGET126": {
            "$ref": "../examples/.ctor-GET-example-126.json"
          },
          ".ctorGET127": {
            "$ref": "../examples/.ctor-GET-example-127.json"
          },
          ".ctorGET128": {
            "$ref": "../examples/.ctor-GET-example-128.json"
          },
          ".ctorGET129": {
            "$ref": "../examples/.ctor-GET-example-129.json"
          },
          ".ctorGET130": {
            "$ref": "../examples/.ctor-GET-example-130.json"
          },
          ".ctorGET131": {
            "$ref": "../examples/.ctor-GET-example-131.json"
          },
          ".ctorGET132": {
            "$ref": "../examples/.ctor-GET-example-132.json"
          },
          ".ctorGET133": {
            "$ref": "../examples/.ctor-GET-example-133.json"
          },
          ".ctorGET134": {
            "$ref": "../examples/.ctor-GET-example-134.json"
          },
          ".ctorGET135": {
            "$ref": "../examples/.ctor-GET-example-135.json"
          },
          ".ctorGET136": {
            "$ref": "../examples/.ctor-GET-example-136.json"
          },
          ".ctorGET137": {
            "$ref": "../examples/.ctor-GET-example-137.json"
          },
          ".ctorGET138": {
            "$ref": "../examples/.ctor-GET-example-138.json"
          },
          ".ctorGET139": {
            "$ref": "../examples/.ctor-GET-example-139.json"
          },
          ".ctorGET140": {
            "$ref": "../examples/.ctor-GET-example-140.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/": {
      "get": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_ListByResourceGroup",
        "description": "Lists all Redis caches in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RedisListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListTestGET21": {
            "$ref": "../examples/ListTest-GET-example-21.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cache/Redis/": {
      "get": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_List",
        "description": "Gets all Redis caches in the specified subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RedisListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListWithoutResourceGroupTestGET31": {
            "$ref": "../examples/ListWithoutResourceGroupTest-GET-example-31.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/listKeys": {
      "post": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_ListKeys",
        "description": "Retrieve a Redis cache's access keys. This operation requires write permission to the cache resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists the keys for the specified Redis cache.",
            "schema": {
              "$ref": "#/definitions/RedisAccessKeys"
            }
          }
        },
        "x-ms-examples": {
          "ListKeysTestPOST41": {
            "$ref": "../examples/ListKeysTest-POST-example-41.json"
          },
          "RegenerateKeyTestPOST41": {
            "$ref": "../examples/RegenerateKeyTest-POST-example-41.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/regenerateKey": {
      "post": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_RegenerateKey",
        "description": "Regenerate Redis cache's access keys. This operation requires write permission to the cache resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisRegenerateKeyParameters"
            },
            "description": "Specifies which key to regenerate."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists the regenerated keys for Redis Cache",
            "schema": {
              "$ref": "#/definitions/RedisAccessKeys"
            }
          }
        },
        "x-ms-examples": {
          "RegenerateKeyTestPOST52": {
            "$ref": "../examples/RegenerateKeyTest-POST-example-52.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/forceReboot": {
      "post": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_ForceReboot",
        "description": "Reboot specified Redis node(s). This operation requires write permission to the cache resource. There can be potential data loss.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisRebootParameters"
            },
            "description": "Specifies which Redis node(s) to reboot."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "x-ms-examples": {
          "RebootBothNodesTestPOST620": {
            "$ref": "../examples/RebootBothNodesTest-POST-example-620.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/import": {
      "post": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_ImportData",
        "x-ms-long-running-operation": true,
        "description": "Import data into Redis cache.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportRDBParameters"
            },
            "description": "Parameters for Redis import operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/export": {
      "post": {
        "tags": [
          "Redis"
        ],
        "operationId": "Redis_ExportData",
        "x-ms-long-running-operation": true,
        "description": "Import data into Redis cache.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportRDBParameters"
            },
            "description": "Parameters for Redis export operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/patchSchedules/default": {
      "put": {
        "tags": [
          "Redis"
        ],
        "operationId": "PatchSchedules_CreateOrUpdate",
        "description": "Create or replace the patching schedule for Redis cache.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            },
            "description": "Parameters to set patch schedules for Redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          }
        },
        "x-ms-examples": {
          "PatchSchedules_PutGetDeletePUT925": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-PUT-example-925.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Redis"
        ],
        "operationId": "PatchSchedules_Delete",
        "description": "Deletes the patching schedule for Redis cache.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "x-ms-examples": {
          "PatchSchedules_PutGetDeleteDELETE928": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-DELETE-example-928.json"
          }
        }
      },
      "get": {
        "tags": [
          "Redis"
        ],
        "operationId": "PatchSchedules_Get",
        "description": "Gets the patching schedule for Redis cache.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response of Get patch schedules.",
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          },
          "404": {
            "description": "Response if patch schedules does not exist."
          }
        },
        "x-ms-examples": {
          "PatchSchedules_PutGetDeleteGET926": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-926.json"
          },
          "PatchSchedules_PutGetDeleteGET927": {
            "$ref": "../examples/PatchSchedules_PutGetDelete-GET-example-927.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The type of Redis cache to deploy. Valid values: (Basic, Standard, Premium)",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "family": {
          "type": "string",
          "description": "The SKU family to use. Valid values: (C, P). (C = Basic/Standard, P = Premium).",
          "enum": [
            "C",
            "P"
          ],
          "x-ms-enum": {
            "name": "SkuFamily",
            "modelAsString": true
          }
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the Redis cache to deploy. Valid values: for C (Basic/Standard) family (0, 1, 2, 3, 4, 5, 6), for P (Premium) family (1, 2, 3, 4)."
        }
      },
      "required": [
        "name",
        "family",
        "capacity"
      ],
      "description": "SKU parameters supplied to the create Redis operation."
    },
    "RedisProperties": {
      "properties": {
        "RedisConfiguration": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "All Redis Settings. Few possible keys: rdb-backup-enabled,rdb-storage-connection-string,rdb-backup-frequency,maxmemory-delta,maxmemory-policy,notify-keyspace-events,maxmemory-samples,slowlog-log-slower-than,slowlog-max-len,list-max-ziplist-entries,list-max-ziplist-value,hash-max-ziplist-entries,hash-max-ziplist-value,set-max-intset-entries,zset-max-ziplist-entries,zset-max-ziplist-value etc."
        },
        "enableNonSslPort": {
          "type": "boolean",
          "description": "Specifies whether the non-ssl Redis server port (6379) is enabled."
        },
        "tenantSettings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "tenantSettings"
        },
        "shardCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of shards to be created on a Premium Cluster Cache."
        },
        "subnetId": {
          "type": "string",
          "pattern": "^/subscriptions/[^/]*/resourceGroups/[^/]*/providers/Microsoft.(ClassicNetwork|Network)/virtualNetworks/[^/]*/subnets/[^/]*$",
          "description": "The full resource ID of a subnet in a virtual network to deploy the Redis cache in. Example format: /subscriptions/{subid}/resourceGroups/{resourceGroupName}/Microsoft.{Network|ClassicNetwork}/VirtualNetworks/vnet1/subnets/subnet1"
        },
        "staticIP": {
          "type": "string",
          "pattern": "^\\d+\\.\\d+\\.\\d+\\.\\d+$",
          "description": "Static IP address. Required when deploying a Redis cache inside an existing Azure Virtual Network."
        }
      },
      "description": "Properties supplied to Create or Update Redis operation.",
      "x-ms-external": true
    },
    "RedisCreateProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the Redis cache to deploy."
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/RedisProperties"
        }
      ],
      "description": "Properties supplied to Create Redis operation."
    },
    "RedisUpdateProperties": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the Redis cache to deploy."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/RedisProperties"
        }
      ],
      "description": "Properties supplied to Update Redis operation."
    },
    "Resource": {
      "description": "The Resource definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "RedisCreateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RedisCreateProperties",
          "description": "Redis cache properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Parameters supplied to the Create Redis operation."
    },
    "RedisUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RedisUpdateProperties",
          "description": "Redis cache properties."
        }
      },
      "description": "Parameters supplied to the Update Redis operation."
    },
    "RedisAccessKeys": {
      "properties": {
        "primaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "The current primary key that clients can use to authenticate with Redis cache."
        },
        "secondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "The current secondary key that clients can use to authenticate with Redis cache."
        }
      },
      "description": "Redis cache access keys."
    },
    "RedisResourceProperties": {
      "properties": {
        "RedisVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Redis version."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Redis instance provisioning status."
        },
        "hostName": {
          "readOnly": true,
          "type": "string",
          "description": "Redis host name."
        },
        "port": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Redis non-SSL port."
        },
        "sslPort": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Redis SSL port."
        },
        "properties": {
          "$ref": "#/definitions/RedisCreateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "Parameters describing a Redis instance."
    },
    "RedisResource": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RedisResourceProperties",
          "description": "Redis cache properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "A single Redis item in List or Get Operation."
    },
    "RedisListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RedisResource"
          },
          "description": "List of Redis cache instances."
        },
        "nextLink": {
          "type": "string",
          "description": "Link for next set of locations."
        }
      },
      "description": "The response of list Redis operation."
    },
    "RedisRegenerateKeyParameters": {
      "properties": {
        "keyType": {
          "type": "string",
          "description": "The Redis access key to regenerate.",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "x-ms-enum": {
            "name": "RedisKeyType",
            "modelAsString": false
          }
        }
      },
      "required": [
        "keyType"
      ],
      "description": "Specifies which Redis access keys to reset."
    },
    "RedisRebootParameters": {
      "properties": {
        "rebootType": {
          "type": "string",
          "description": "Which Redis node(s) to reboot. Depending on this value data loss is possible.",
          "enum": [
            "PrimaryNode",
            "SecondaryNode",
            "AllNodes"
          ],
          "x-ms-enum": {
            "name": "RebootType",
            "modelAsString": true
          }
        },
        "shardId": {
          "type": "integer",
          "format": "int32",
          "description": "If clustering is enabled, the ID of the shard to be rebooted."
        }
      },
      "required": [
        "rebootType"
      ],
      "description": "Specifies which Redis node(s) to reboot."
    },
    "ExportRDBParameters": {
      "properties": {
        "format": {
          "type": "string",
          "description": "File format."
        },
        "prefix": {
          "type": "string",
          "description": "Prefix to use for exported files."
        },
        "container": {
          "type": "string",
          "description": "Container name to export to."
        }
      },
      "required": [
        "container",
        "prefix"
      ],
      "description": "Parameters for Redis export operation."
    },
    "ImportRDBParameters": {
      "properties": {
        "format": {
          "type": "string",
          "description": "File format."
        },
        "files": {
          "type": "array",
          "description": "files to import.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "files"
      ],
      "description": "Parameters for Redis import operation."
    },
    "ScheduleEntry": {
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "description": "Day of the week when a cache can be patched.",
          "enum": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday",
            "Everyday",
            "Weekend"
          ],
          "x-ms-enum": {
            "name": "DayOfWeek",
            "modelAsString": false
          }
        },
        "startHourUtc": {
          "type": "integer",
          "format": "int32",
          "description": "Start hour after which cache patching can start."
        },
        "maintenanceWindow": {
          "type": "string",
          "format": "duration",
          "description": "ISO8601 timespan specifying how much time cache patching can take. "
        }
      },
      "required": [
        "dayOfWeek",
        "startHourUtc"
      ],
      "description": "Patch schedule entry for a Premium Redis Cache."
    },
    "ScheduleEntries": {
      "properties": {
        "scheduleEntries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScheduleEntry"
          },
          "description": "List of patch schedules for a Redis cache."
        }
      },
      "required": [
        "scheduleEntries"
      ],
      "description": "List of patch schedules for a Redis cache."
    },
    "RedisPatchSchedule": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Resource location."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ScheduleEntries",
          "description": "List of patch schedules for a Redis cache."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Response to put/get patch schedules for Redis cache."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}