{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2016-09-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}": {
      "delete": {
        "tags": [
          "ApplicationGateways"
        ],
        "operationId": "ApplicationGateways_Delete",
        "description": "Deletes the specified application gateway.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "applicationGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the application gateway."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource with the specified name does not exist"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ApplicationGatewayApiTestDELETE180": {
            "$ref": "../examples/ApplicationGatewayApiTest-DELETE-example-180.json"
          }
        }
      },
      "get": {
        "tags": [
          "ApplicationGateways"
        ],
        "operationId": "ApplicationGateways_Get",
        "description": "Gets the specified application gateway.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "applicationGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the application gateway."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns an ApplicationGateway resource.",
            "schema": {
              "$ref": "#/definitions/ApplicationGateway"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationGatewayApiTestGET146": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-146.json"
          },
          "ApplicationGatewayApiTestGET147": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-147.json"
          },
          "ApplicationGatewayApiTestGET148": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-148.json"
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationGateways"
        ],
        "operationId": "ApplicationGateways_CreateOrUpdate",
        "description": "Creates or updates the specified application gateway.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "applicationGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the application gateway."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationGateway"
            },
            "description": "Parameters supplied to the create or update application gateway operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting ApplicationGateway resource.",
            "schema": {
              "$ref": "#/definitions/ApplicationGateway"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting ApplicationGateway resource.",
            "schema": {
              "$ref": "#/definitions/ApplicationGateway"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ApplicationGatewayApiTestPUT17": {
            "$ref": "../examples/ApplicationGatewayApiTest-PUT-example-17.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways": {
      "get": {
        "tags": [
          "ApplicationGateways"
        ],
        "operationId": "ApplicationGateways_List",
        "description": "Lists all application gateways in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The operation returns a list of ApplicationGateway resources.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways": {
      "get": {
        "tags": [
          "ApplicationGateways"
        ],
        "operationId": "ApplicationGateways_ListAll",
        "description": "Gets all the application gateways in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The operation returns a list of ApplicationGateway resources.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start": {
      "post": {
        "tags": [
          "ApplicationGateways"
        ],
        "operationId": "ApplicationGateways_Start",
        "description": "Starts the specified application gateway.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "applicationGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the application gateway."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation starts the ApplicationGateway resource."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ApplicationGatewayApiTestPOST474": {
            "$ref": "../examples/ApplicationGatewayApiTest-POST-example-474.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop": {
      "post": {
        "tags": [
          "ApplicationGateways"
        ],
        "operationId": "ApplicationGateways_Stop",
        "description": "Stops the specified application gateway in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "applicationGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the application gateway."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation stops the ApplicationGateway resource."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ApplicationGatewayApiTestPOST575": {
            "$ref": "../examples/ApplicationGatewayApiTest-POST-example-575.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendhealth": {
      "post": {
        "tags": [
          "ApplicationGateways"
        ],
        "operationId": "ApplicationGateways_BackendHealth",
        "description": "Gets the backend health of the specified application gateway in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "applicationGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the application gateway."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands BackendAddressPool and BackendHttpSettings referenced in backend health."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful.",
            "schema": {
              "$ref": "#/definitions/ApplicationGatewayBackendHealth"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ApplicationGatewayApiTestPOST649": {
            "$ref": "../examples/ApplicationGatewayApiTest-POST-example-649.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}": {
      "delete": {
        "tags": [
          "ExpressRouteCircuitAuthorizations"
        ],
        "operationId": "ExpressRouteCircuitAuthorizations_Delete",
        "description": "Deletes the specified authorization from the specified express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "authorizationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the authorization."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ExpressRouteCircuitAuthorizations"
        ],
        "operationId": "ExpressRouteCircuitAuthorizations_Get",
        "description": "Gets the specified authorization from the specified express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "authorizationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the authorization."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the ExpressRouteCircuitAuthorization resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitAuthorization"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ExpressRouteCircuitAuthorizations"
        ],
        "operationId": "ExpressRouteCircuitAuthorizations_CreateOrUpdate",
        "description": "Creates or updates an authorization in the specified express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "authorizationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the authorization."
          },
          {
            "name": "authorizationParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitAuthorization"
            },
            "description": "Parameters supplied to the create or update express route circuit authorization operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitAuthorization"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitAuthorization"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations": {
      "get": {
        "tags": [
          "ExpressRouteCircuitAuthorizations"
        ],
        "operationId": "ExpressRouteCircuitAuthorizations_List",
        "description": "Gets all authorizations in an express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the circuit."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of ExpressRouteCircuitAuthorization resources.",
            "schema": {
              "$ref": "#/definitions/AuthorizationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}": {
      "delete": {
        "tags": [
          "ExpressRouteCircuitPeerings"
        ],
        "operationId": "ExpressRouteCircuitPeerings_Delete",
        "description": "Deletes the specified peering from the specified express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "peeringName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the peering."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ExpressRouteCircuitPeerings"
        ],
        "operationId": "ExpressRouteCircuitPeerings_Get",
        "description": "Gets the specified authorization from the specified express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "peeringName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the peering."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteCircuitPeering resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitPeering"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ExpressRouteCircuitPeerings"
        ],
        "operationId": "ExpressRouteCircuitPeerings_CreateOrUpdate",
        "description": "Creates or updates a peering in the specified express route circuits.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "peeringName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the peering."
          },
          {
            "name": "peeringParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitPeering"
            },
            "description": "Parameters supplied to the create or update express route circuit peering operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting ExpressRouteCircuitPeering resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitPeering"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting ExpressRouteCircuitPeering resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitPeering"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings": {
      "get": {
        "tags": [
          "ExpressRouteCircuitPeerings"
        ],
        "operationId": "ExpressRouteCircuitPeerings_List",
        "description": "Gets all peerings in a specified express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of ExpressRouteCircuitPeering resources.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitPeeringListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}": {
      "delete": {
        "tags": [
          "ExpressRouteCircuits"
        ],
        "operationId": "ExpressRouteCircuits_Delete",
        "description": "Deletes the specified express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Disabling' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ExpressRouteCircuits"
        ],
        "operationId": "ExpressRouteCircuits_Get",
        "description": "Gets information about the specified express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of express route circuit."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteCircuit resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuit"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ExpressRouteCircuits"
        ],
        "operationId": "ExpressRouteCircuits_CreateOrUpdate",
        "description": "Creates or updates an express route circuit.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the circuit."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuit"
            },
            "description": "Parameters supplied to the create or update express route circuit operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting ExpressRouteCircuit resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuit"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting ExpressRouteCircuit resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuit"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/arpTables/{devicePath}": {
      "post": {
        "tags": [
          "ExpressRouteCircuitArpTable"
        ],
        "operationId": "ExpressRouteCircuits_ListArpTable",
        "description": "Gets the currently advertised ARP table associated with the express route circuit in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "peeringName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the peering."
          },
          {
            "name": "devicePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path of the device."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteCircuitsArpTable resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitsArpTableListResult"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTables/{devicePath}": {
      "post": {
        "tags": [
          "ExpressRouteCircuitRoutesTable"
        ],
        "operationId": "ExpressRouteCircuits_ListRoutesTable",
        "description": "Gets the currently advertised routes table associated with the express route circuit in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "peeringName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the peering."
          },
          {
            "name": "devicePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path of the device."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteCircuitsRouteTable resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitsRoutesTableListResult"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTablesSummary/{devicePath}": {
      "post": {
        "tags": [
          "ExpressRouteCircuitRoutesTableSummary"
        ],
        "operationId": "ExpressRouteCircuits_ListRoutesTableSummary",
        "description": "Gets the currently advertised routes table summary associated with the express route circuit in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "peeringName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the peering."
          },
          {
            "name": "devicePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path of the device."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteCircuitsRoutesTableSummary resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitsRoutesTableSummaryListResult"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/stats": {
      "get": {
        "tags": [
          "ExpressRouteCircuitStats"
        ],
        "operationId": "ExpressRouteCircuits_GetStats",
        "description": "Gets all the stats from an express route circuit in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitStats"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/stats": {
      "get": {
        "tags": [
          "ExpressRouteCircuitStats"
        ],
        "operationId": "ExpressRouteCircuits_GetPeeringStats",
        "description": "Gets all stats from an express route circuit in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "circuitName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the express route circuit."
          },
          {
            "name": "peeringName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the peering."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitStats"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits": {
      "get": {
        "tags": [
          "ExpressRouteCircuits"
        ],
        "operationId": "ExpressRouteCircuits_List",
        "description": "Gets all the express route circuits in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits": {
      "get": {
        "tags": [
          "ExpressRouteCircuits"
        ],
        "operationId": "ExpressRouteCircuits_ListAll",
        "description": "Gets all the express route circuits in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of ExpressRouteCircuit resources.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteCircuitListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders": {
      "get": {
        "tags": [
          "ExpressRouteServiceProviders"
        ],
        "operationId": "ExpressRouteServiceProviders_List",
        "description": "Gets all the available express route service providers.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of ExpressRouteServiceProdiver resources.",
            "schema": {
              "$ref": "#/definitions/ExpressRouteServiceProviderListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}": {
      "delete": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_Delete",
        "description": "Deletes the specified load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExpandResourceTestDELETE2038": {
            "$ref": "../examples/ExpandResourceTest-DELETE-example-2038.json"
          },
          "CreateEmptyLoadBalancerDELETE206": {
            "$ref": "../examples/CreateEmptyLoadBalancer-DELETE-example-206.json"
          },
          "LoadBalancerApiNicAssociationTestDELETE2033": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-DELETE-example-2033.json"
          },
          "LoadBalancerApiTestDELETE2013": {
            "$ref": "../examples/LoadBalancerApiTest-DELETE-example-2013.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyDELETE2018": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-DELETE-example-2018.json"
          },
          "LoadBalancerApiTestWithDynamicIpDELETE2013": {
            "$ref": "../examples/LoadBalancerApiTestWithDynamicIp-DELETE-example-2013.json"
          },
          "LoadBalancerApiTestWithStaticIpDELETE2013": {
            "$ref": "../examples/LoadBalancerApiTestWithStaticIp-DELETE-example-2013.json"
          },
          "LoadBalancerNatPoolTestDELETE2012": {
            "$ref": "../examples/LoadBalancerNatPoolTest-DELETE-example-2012.json"
          },
          "LoadBalancerOutboundNatRuleTestDELETE2010": {
            "$ref": "../examples/LoadBalancerOutboundNatRuleTest-DELETE-example-2010.json"
          },
          "UpdateLoadBalancerRuleDELETE2013": {
            "$ref": "../examples/UpdateLoadBalancerRule-DELETE-example-2013.json"
          }
        }
      },
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_Get",
        "description": "Gets the specified load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting LoadBalancer resource.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          }
        },
        "x-ms-examples": {
          "ExpandResourceTestGET2030": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2030.json"
          },
          "ExpandResourceTestGET2031": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2031.json"
          },
          "ExpandResourceTestGET2032": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2032.json"
          },
          "ExpandResourceTestGET2033": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2033.json"
          },
          "ExpandResourceTestGET2034": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2034.json"
          },
          "CreateEmptyLoadBalancerGET204": {
            "$ref": "../examples/CreateEmptyLoadBalancer-GET-example-204.json"
          },
          "CreateEmptyLoadBalancerGET205": {
            "$ref": "../examples/CreateEmptyLoadBalancer-GET-example-205.json"
          },
          "LoadBalancerApiNicAssociationTestGET2030": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2030.json"
          },
          "LoadBalancerApiNicAssociationTestGET2031": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2031.json"
          },
          "LoadBalancerApiNicAssociationTestGET2032": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2032.json"
          },
          "LoadBalancerApiTestGET208": {
            "$ref": "../examples/LoadBalancerApiTest-GET-example-208.json"
          },
          "LoadBalancerApiTestGET209": {
            "$ref": "../examples/LoadBalancerApiTest-GET-example-209.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyGET2010": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-GET-example-2010.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyGET2011": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-GET-example-2011.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyGET2012": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-GET-example-2012.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyGET2013": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-GET-example-2013.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyGET2014": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-GET-example-2014.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyGET2015": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-GET-example-2015.json"
          },
          "LoadBalancerApiTestWithDynamicIpGET208": {
            "$ref": "../examples/LoadBalancerApiTestWithDynamicIp-GET-example-208.json"
          },
          "LoadBalancerApiTestWithDynamicIpGET209": {
            "$ref": "../examples/LoadBalancerApiTestWithDynamicIp-GET-example-209.json"
          },
          "LoadBalancerApiTestWithStaticIpGET208": {
            "$ref": "../examples/LoadBalancerApiTestWithStaticIp-GET-example-208.json"
          },
          "LoadBalancerApiTestWithStaticIpGET209": {
            "$ref": "../examples/LoadBalancerApiTestWithStaticIp-GET-example-209.json"
          },
          "LoadBalancerNatPoolTestGET209": {
            "$ref": "../examples/LoadBalancerNatPoolTest-GET-example-209.json"
          },
          "LoadBalancerNatPoolTestGET2010": {
            "$ref": "../examples/LoadBalancerNatPoolTest-GET-example-2010.json"
          },
          "LoadBalancerNatPoolTestGET2011": {
            "$ref": "../examples/LoadBalancerNatPoolTest-GET-example-2011.json"
          },
          "LoadBalancerOutboundNatRuleTestGET208": {
            "$ref": "../examples/LoadBalancerOutboundNatRuleTest-GET-example-208.json"
          },
          "LoadBalancerOutboundNatRuleTestGET209": {
            "$ref": "../examples/LoadBalancerOutboundNatRuleTest-GET-example-209.json"
          },
          "UpdateLoadBalancerRuleGET209": {
            "$ref": "../examples/UpdateLoadBalancerRule-GET-example-209.json"
          },
          "UpdateLoadBalancerRuleGET2010": {
            "$ref": "../examples/UpdateLoadBalancerRule-GET-example-2010.json"
          },
          "UpdateLoadBalancerRuleGET2011": {
            "$ref": "../examples/UpdateLoadBalancerRule-GET-example-2011.json"
          },
          "UpdateLoadBalancerRuleGET2012": {
            "$ref": "../examples/UpdateLoadBalancerRule-GET-example-2012.json"
          }
        }
      },
      "put": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_CreateOrUpdate",
        "description": "Creates or updates a load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            },
            "description": "Parameters supplied to the create or update load balancer operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting LoadBalancer resource.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting LoadBalancer resource.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExpandResourceTestPUT2029": {
            "$ref": "../examples/ExpandResourceTest-PUT-example-2029.json"
          },
          "CreateEmptyLoadBalancerPUT203": {
            "$ref": "../examples/CreateEmptyLoadBalancer-PUT-example-203.json"
          },
          "LoadBalancerApiNicAssociationTestPUT2029": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-PUT-example-2029.json"
          },
          "LoadBalancerApiTestPUT207": {
            "$ref": "../examples/LoadBalancerApiTest-PUT-example-207.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyPUT207": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-PUT-example-207.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyPUT208": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-PUT-example-208.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyPUT209": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-PUT-example-209.json"
          },
          "LoadBalancerApiTestWithDynamicIpPUT207": {
            "$ref": "../examples/LoadBalancerApiTestWithDynamicIp-PUT-example-207.json"
          },
          "LoadBalancerApiTestWithStaticIpPUT207": {
            "$ref": "../examples/LoadBalancerApiTestWithStaticIp-PUT-example-207.json"
          },
          "LoadBalancerNatPoolTestPUT207": {
            "$ref": "../examples/LoadBalancerNatPoolTest-PUT-example-207.json"
          },
          "LoadBalancerNatPoolTestPUT208": {
            "$ref": "../examples/LoadBalancerNatPoolTest-PUT-example-208.json"
          },
          "LoadBalancerOutboundNatRuleTestPUT207": {
            "$ref": "../examples/LoadBalancerOutboundNatRuleTest-PUT-example-207.json"
          },
          "UpdateLoadBalancerRulePUT207": {
            "$ref": "../examples/UpdateLoadBalancerRule-PUT-example-207.json"
          },
          "UpdateLoadBalancerRulePUT208": {
            "$ref": "../examples/UpdateLoadBalancerRule-PUT-example-208.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_ListAll",
        "description": "Gets all the load balancers in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LoadBalancerApiTestGET2112": {
            "$ref": "../examples/LoadBalancerApiTest-GET-example-2112.json"
          },
          "LoadBalancerApiTestWithDynamicIpGET2112": {
            "$ref": "../examples/LoadBalancerApiTestWithDynamicIp-GET-example-2112.json"
          },
          "LoadBalancerApiTestWithStaticIpGET2112": {
            "$ref": "../examples/LoadBalancerApiTestWithStaticIp-GET-example-2112.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_List",
        "description": "Gets all the load balancers in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ExpandResourceTestGET2240": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2240.json"
          },
          "CreateEmptyLoadBalancerGET228": {
            "$ref": "../examples/CreateEmptyLoadBalancer-GET-example-228.json"
          },
          "LoadBalancerApiNicAssociationTestGET2235": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2235.json"
          },
          "LoadBalancerApiTestGET2210": {
            "$ref": "../examples/LoadBalancerApiTest-GET-example-2210.json"
          },
          "LoadBalancerApiTestGET2211": {
            "$ref": "../examples/LoadBalancerApiTest-GET-example-2211.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyGET2216": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-GET-example-2216.json"
          },
          "LoadBalancerApiTestWithDistributionPolicyGET2217": {
            "$ref": "../examples/LoadBalancerApiTestWithDistributionPolicy-GET-example-2217.json"
          },
          "LoadBalancerApiTestWithDynamicIpGET2210": {
            "$ref": "../examples/LoadBalancerApiTestWithDynamicIp-GET-example-2210.json"
          },
          "LoadBalancerApiTestWithDynamicIpGET2211": {
            "$ref": "../examples/LoadBalancerApiTestWithDynamicIp-GET-example-2211.json"
          },
          "LoadBalancerApiTestWithStaticIpGET2210": {
            "$ref": "../examples/LoadBalancerApiTestWithStaticIp-GET-example-2210.json"
          },
          "LoadBalancerApiTestWithStaticIpGET2211": {
            "$ref": "../examples/LoadBalancerApiTestWithStaticIp-GET-example-2211.json"
          },
          "LoadBalancerNatPoolTestGET2214": {
            "$ref": "../examples/LoadBalancerNatPoolTest-GET-example-2214.json"
          },
          "LoadBalancerOutboundNatRuleTestGET2212": {
            "$ref": "../examples/LoadBalancerOutboundNatRuleTest-GET-example-2212.json"
          },
          "UpdateLoadBalancerRuleGET2215": {
            "$ref": "../examples/UpdateLoadBalancerRule-GET-example-2215.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}": {
      "put": {
        "tags": [
          "LocalNetworkGateways"
        ],
        "operationId": "LocalNetworkGateways_CreateOrUpdate",
        "description": "Creates or updates a local network gateway in the specified resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "localNetworkGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the local network gateway."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocalNetworkGateway"
            },
            "description": "Parameters supplied to the create or update local network gateway operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting LocalNetworkGateway resource.",
            "schema": {
              "$ref": "#/definitions/LocalNetworkGateway"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting LocalNetworkGateway resource.",
            "schema": {
              "$ref": "#/definitions/LocalNetworkGateway"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "LocalNettworkGatewayOperationsApisTestPUT233": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-PUT-example-233.json"
          },
          "LocalNettworkGatewayOperationsApisTestPUT234": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-PUT-example-234.json"
          },
          "VirtualNetworkGatewayConnectionOperationsApisTestPUT233": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionOperationsApisTest-PUT-example-233.json"
          },
          "VirtualNetworkGatewayConnectionSharedKeyOperationsApisTestPUT2371": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionSharedKeyOperationsApisTest-PUT-example-2371.json"
          },
          "VirtualNetworkGatewayConnectionWithBgpTestPUT233": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionWithBgpTest-PUT-example-233.json"
          },
          "VirtualNetworkGatewayP2SOperationsApisTestPUT233": {
            "$ref": "../examples/VirtualNetworkGatewayP2SOperationsApisTest-PUT-example-233.json"
          }
        }
      },
      "get": {
        "tags": [
          "LocalNetworkGateways"
        ],
        "operationId": "LocalNetworkGateways_Get",
        "description": "Gets the specified local network gateway in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "localNetworkGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the local network gateway."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting LocalNetworkGateway resource.",
            "schema": {
              "$ref": "#/definitions/LocalNetworkGateway"
            }
          }
        },
        "x-ms-examples": {
          "LocalNettworkGatewayOperationsApisTestGET236": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-GET-example-236.json"
          },
          "LocalNettworkGatewayOperationsApisTestGET237": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-GET-example-237.json"
          },
          "LocalNettworkGatewayOperationsApisTestGET238": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-GET-example-238.json"
          },
          "LocalNettworkGatewayOperationsApisTestGET239": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-GET-example-239.json"
          },
          "VirtualNetworkGatewayConnectionOperationsApisTestGET235": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionOperationsApisTest-GET-example-235.json"
          },
          "VirtualNetworkGatewayConnectionOperationsApisTestGET236": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionOperationsApisTest-GET-example-236.json"
          },
          "VirtualNetworkGatewayConnectionSharedKeyOperationsApisTestGET2373": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionSharedKeyOperationsApisTest-GET-example-2373.json"
          },
          "VirtualNetworkGatewayConnectionSharedKeyOperationsApisTestGET2374": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionSharedKeyOperationsApisTest-GET-example-2374.json"
          },
          "VirtualNetworkGatewayConnectionWithBgpTestGET235": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionWithBgpTest-GET-example-235.json"
          },
          "VirtualNetworkGatewayConnectionWithBgpTestGET236": {
            "$ref": "../examples/VirtualNetworkGatewayConnectionWithBgpTest-GET-example-236.json"
          },
          "VirtualNetworkGatewayP2SOperationsApisTestGET235": {
            "$ref": "../examples/VirtualNetworkGatewayP2SOperationsApisTest-GET-example-235.json"
          },
          "VirtualNetworkGatewayP2SOperationsApisTestGET236": {
            "$ref": "../examples/VirtualNetworkGatewayP2SOperationsApisTest-GET-example-236.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LocalNetworkGateways"
        ],
        "operationId": "LocalNetworkGateways_Delete",
        "description": "Deletes the specified local network gateway.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "localNetworkGatewayName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the local network gateway."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Delete successful."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "LocalNettworkGatewayOperationsApisTestDELETE2313": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-DELETE-example-2313.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways": {
      "get": {
        "tags": [
          "LocalNetworkGateways"
        ],
        "operationId": "LocalNetworkGateways_List",
        "description": "Gets all the local network gateways in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LocalNetworkGateway resources.",
            "schema": {
              "$ref": "#/definitions/LocalNetworkGatewayListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LocalNettworkGatewayOperationsApisTestGET2411": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-GET-example-2411.json"
          },
          "LocalNettworkGatewayOperationsApisTestGET2412": {
            "$ref": "../examples/LocalNettworkGatewayOperationsApisTest-GET-example-2412.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}": {
      "delete": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_Delete",
        "description": "Deletes the specified network interface.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network interface."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExpandResourceTestDELETE2541": {
            "$ref": "../examples/ExpandResourceTest-DELETE-example-2541.json"
          },
          "ExpandResourceTestDELETE2543": {
            "$ref": "../examples/ExpandResourceTest-DELETE-example-2543.json"
          },
          "ExpandResourceTestDELETE2545": {
            "$ref": "../examples/ExpandResourceTest-DELETE-example-2545.json"
          },
          "LoadBalancerApiNicAssociationTestDELETE2536": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-DELETE-example-2536.json"
          },
          "LoadBalancerApiNicAssociationTestDELETE2538": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-DELETE-example-2538.json"
          },
          "LoadBalancerApiNicAssociationTestDELETE2540": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-DELETE-example-2540.json"
          },
          "NetworkInterfaceApiTestDELETE2517": {
            "$ref": "../examples/NetworkInterfaceApiTest-DELETE-example-2517.json"
          },
          "NetworkInterfaceApiTestIPv6DELETE2517": {
            "$ref": "../examples/NetworkInterfaceApiTestIPv6-DELETE-example-2517.json"
          },
          "NetworkInterfaceDnsSettingsTestDELETE2510": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTest-DELETE-example-2510.json"
          },
          "NetworkInterfaceDnsSettingsTestIdnsSuffixDELETE2510": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTestIdnsSuffix-DELETE-example-2510.json"
          },
          "NetworkInterfaceEnableIPForwardingTestDELETE2513": {
            "$ref": "../examples/NetworkInterfaceEnableIPForwardingTest-DELETE-example-2513.json"
          },
          "NetworkInterfaceMultiIpConfigTestDELETE2517": {
            "$ref": "../examples/NetworkInterfaceMultiIpConfigTest-DELETE-example-2517.json"
          },
          "NetworkInterfaceNetworkSecurityGroupTestDELETE2513": {
            "$ref": "../examples/NetworkInterfaceNetworkSecurityGroupTest-DELETE-example-2513.json"
          },
          "VirtualNetworkCheckIpAddressAvailabilityTestDELETE2511": {
            "$ref": "../examples/VirtualNetworkCheckIpAddressAvailabilityTest-DELETE-example-2511.json"
          }
        }
      },
      "get": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_Get",
        "description": "Gets information about the specified network interface.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network interface."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting NetworkInterface resource.",
            "schema": {
              "$ref": "#/definitions/NetworkInterface"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationGatewayApiTestGET2554": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-2554.json"
          },
          "ApplicationGatewayApiTestGET2555": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-2555.json"
          },
          "ApplicationGatewayApiTestGET2556": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-2556.json"
          },
          "ApplicationGatewayApiTestGET2559": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-2559.json"
          },
          "ApplicationGatewayApiTestGET2560": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-2560.json"
          },
          "ApplicationGatewayApiTestGET2561": {
            "$ref": "../examples/ApplicationGatewayApiTest-GET-example-2561.json"
          },
          "ExpandResourceTestGET2513": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2513.json"
          },
          "ExpandResourceTestGET2514": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2514.json"
          },
          "ExpandResourceTestGET2515": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2515.json"
          },
          "ExpandResourceTestGET2516": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2516.json"
          },
          "ExpandResourceTestGET2519": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2519.json"
          },
          "ExpandResourceTestGET2520": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2520.json"
          },
          "ExpandResourceTestGET2521": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2521.json"
          },
          "ExpandResourceTestGET2522": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2522.json"
          },
          "ExpandResourceTestGET2525": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2525.json"
          },
          "ExpandResourceTestGET2526": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2526.json"
          },
          "ExpandResourceTestGET2527": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2527.json"
          },
          "ExpandResourceTestGET2528": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2528.json"
          },
          "ExpandResourceTestGET2535": {
            "$ref": "../examples/ExpandResourceTest-GET-example-2535.json"
          },
          "LoadBalancerApiNicAssociationTestGET2513": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2513.json"
          },
          "LoadBalancerApiNicAssociationTestGET2514": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2514.json"
          },
          "LoadBalancerApiNicAssociationTestGET2515": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2515.json"
          },
          "LoadBalancerApiNicAssociationTestGET2516": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2516.json"
          },
          "LoadBalancerApiNicAssociationTestGET2519": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2519.json"
          },
          "LoadBalancerApiNicAssociationTestGET2520": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2520.json"
          },
          "LoadBalancerApiNicAssociationTestGET2521": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2521.json"
          },
          "LoadBalancerApiNicAssociationTestGET2522": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2522.json"
          },
          "LoadBalancerApiNicAssociationTestGET2525": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2525.json"
          },
          "LoadBalancerApiNicAssociationTestGET2526": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2526.json"
          },
          "LoadBalancerApiNicAssociationTestGET2527": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2527.json"
          },
          "LoadBalancerApiNicAssociationTestGET2528": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-GET-example-2528.json"
          },
          "NetworkInterfaceApiTestGET2512": {
            "$ref": "../examples/NetworkInterfaceApiTest-GET-example-2512.json"
          },
          "NetworkInterfaceApiTestGET2513": {
            "$ref": "../examples/NetworkInterfaceApiTest-GET-example-2513.json"
          },
          "NetworkInterfaceApiTestIPv6GET2512": {
            "$ref": "../examples/NetworkInterfaceApiTestIPv6-GET-example-2512.json"
          },
          "NetworkInterfaceApiTestIPv6GET2513": {
            "$ref": "../examples/NetworkInterfaceApiTestIPv6-GET-example-2513.json"
          },
          "NetworkInterfaceDnsSettingsTestGET258": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTest-GET-example-258.json"
          },
          "NetworkInterfaceDnsSettingsTestGET259": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTest-GET-example-259.json"
          },
          "NetworkInterfaceDnsSettingsTestIdnsSuffixGET258": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTestIdnsSuffix-GET-example-258.json"
          },
          "NetworkInterfaceDnsSettingsTestIdnsSuffixGET259": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTestIdnsSuffix-GET-example-259.json"
          },
          "NetworkInterfaceEffectiveNetworkSecurityGroupTestGET2511": {
            "$ref": "../examples/NetworkInterfaceEffectiveNetworkSecurityGroupTest-GET-example-2511.json"
          },
          "NetworkInterfaceEffectiveNetworkSecurityGroupTestGET2512": {
            "$ref": "../examples/NetworkInterfaceEffectiveNetworkSecurityGroupTest-GET-example-2512.json"
          },
          "NetworkInterfaceEnableIPForwardingTestGET259": {
            "$ref": "../examples/NetworkInterfaceEnableIPForwardingTest-GET-example-259.json"
          },
          "NetworkInterfaceEnableIPForwardingTestGET2510": {
            "$ref": "../examples/NetworkInterfaceEnableIPForwardingTest-GET-example-2510.json"
          },
          "NetworkInterfaceEnableIPForwardingTestGET2511": {
            "$ref": "../examples/NetworkInterfaceEnableIPForwardingTest-GET-example-2511.json"
          },
          "NetworkInterfaceEnableIPForwardingTestGET2512": {
            "$ref": "../examples/NetworkInterfaceEnableIPForwardingTest-GET-example-2512.json"
          },
          "NetworkInterfaceMultiIpConfigTestGET2512": {
            "$ref": "../examples/NetworkInterfaceMultiIpConfigTest-GET-example-2512.json"
          },
          "NetworkInterfaceMultiIpConfigTestGET2513": {
            "$ref": "../examples/NetworkInterfaceMultiIpConfigTest-GET-example-2513.json"
          },
          "NetworkInterfaceNetworkSecurityGroupTestGET2511": {
            "$ref": "../examples/NetworkInterfaceNetworkSecurityGroupTest-GET-example-2511.json"
          },
          "NetworkInterfaceNetworkSecurityGroupTestGET2512": {
            "$ref": "../examples/NetworkInterfaceNetworkSecurityGroupTest-GET-example-2512.json"
          },
          "VirtualNetworkCheckIpAddressAvailabilityTestGET258": {
            "$ref": "../examples/VirtualNetworkCheckIpAddressAvailabilityTest-GET-example-258.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_CreateOrUpdate",
        "description": "Creates or updates a network interface.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network interface."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkInterface"
            },
            "description": "Parameters supplied to the create or update network interface operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting NetworkInterface resource.",
            "schema": {
              "$ref": "#/definitions/NetworkInterface"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting NetworkInterface resource.",
            "schema": {
              "$ref": "#/definitions/NetworkInterface"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ApplicationGatewayApiTestPUT2552": {
            "$ref": "../examples/ApplicationGatewayApiTest-PUT-example-2552.json"
          },
          "ApplicationGatewayApiTestPUT2553": {
            "$ref": "../examples/ApplicationGatewayApiTest-PUT-example-2553.json"
          },
          "ApplicationGatewayApiTestPUT2557": {
            "$ref": "../examples/ApplicationGatewayApiTest-PUT-example-2557.json"
          },
          "ApplicationGatewayApiTestPUT2558": {
            "$ref": "../examples/ApplicationGatewayApiTest-PUT-example-2558.json"
          },
          "ExpandResourceTestPUT2511": {
            "$ref": "../examples/ExpandResourceTest-PUT-example-2511.json"
          },
          "ExpandResourceTestPUT2512": {
            "$ref": "../examples/ExpandResourceTest-PUT-example-2512.json"
          },
          "ExpandResourceTestPUT2517": {
            "$ref": "../examples/ExpandResourceTest-PUT-example-2517.json"
          },
          "ExpandResourceTestPUT2518": {
            "$ref": "../examples/ExpandResourceTest-PUT-example-2518.json"
          },
          "ExpandResourceTestPUT2523": {
            "$ref": "../examples/ExpandResourceTest-PUT-example-2523.json"
          },
          "ExpandResourceTestPUT2524": {
            "$ref": "../examples/ExpandResourceTest-PUT-example-2524.json"
          },
          "LoadBalancerApiNicAssociationTestPUT2511": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-PUT-example-2511.json"
          },
          "LoadBalancerApiNicAssociationTestPUT2512": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-PUT-example-2512.json"
          },
          "LoadBalancerApiNicAssociationTestPUT2517": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-PUT-example-2517.json"
          },
          "LoadBalancerApiNicAssociationTestPUT2518": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-PUT-example-2518.json"
          },
          "LoadBalancerApiNicAssociationTestPUT2523": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-PUT-example-2523.json"
          },
          "LoadBalancerApiNicAssociationTestPUT2524": {
            "$ref": "../examples/LoadBalancerApiNicAssociationTest-PUT-example-2524.json"
          },
          "AssertMultiIpConfigOnDifferentSubnetFailsPUT258": {
            "$ref": "../examples/AssertMultiIpConfigOnDifferentSubnetFails-PUT-example-258.json"
          },
          "NetworkInterfaceApiTestPUT2511": {
            "$ref": "../examples/NetworkInterfaceApiTest-PUT-example-2511.json"
          },
          "NetworkInterfaceApiTestIPv6PUT2511": {
            "$ref": "../examples/NetworkInterfaceApiTestIPv6-PUT-example-2511.json"
          },
          "NetworkInterfaceDnsSettingsTestPUT257": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTest-PUT-example-257.json"
          },
          "NetworkInterfaceDnsSettingsTestIdnsSuffixPUT257": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTestIdnsSuffix-PUT-example-257.json"
          },
          "NetworkInterfaceEffectiveNetworkSecurityGroupTestPUT2510": {
            "$ref": "../examples/NetworkInterfaceEffectiveNetworkSecurityGroupTest-PUT-example-2510.json"
          },
          "NetworkInterfaceEnableIPForwardingTestPUT257": {
            "$ref": "../examples/NetworkInterfaceEnableIPForwardingTest-PUT-example-257.json"
          },
          "NetworkInterfaceEnableIPForwardingTestPUT258": {
            "$ref": "../examples/NetworkInterfaceEnableIPForwardingTest-PUT-example-258.json"
          },
          "NetworkInterfaceMultiIpConfigTestPUT2511": {
            "$ref": "../examples/NetworkInterfaceMultiIpConfigTest-PUT-example-2511.json"
          },
          "NetworkInterfaceNetworkSecurityGroupTestPUT2510": {
            "$ref": "../examples/NetworkInterfaceNetworkSecurityGroupTest-PUT-example-2510.json"
          },
          "NetworkInterfaceWithAcceleratedNetworkingTestPUT257": {
            "$ref": "../examples/NetworkInterfaceWithAcceleratedNetworkingTest-PUT-example-257.json"
          },
          "VirtualNetworkCheckIpAddressAvailabilityTestPUT257": {
            "$ref": "../examples/VirtualNetworkCheckIpAddressAvailabilityTest-PUT-example-257.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces": {
      "get": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces",
        "description": "Gets information about all network interfaces in a virtual machine in a virtual machine scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine scale set."
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The virtual machine index."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of NetworkInterface resources.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces": {
      "get": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces",
        "description": "Gets all network interfaces in a virtual machine scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine scale set."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of NetworkInterface resources.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}": {
      "get": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface",
        "description": "Get the specified network interface in a virtual machine scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine scale set."
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The virtual machine index."
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network interface."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting NetworkInterface resource.",
            "schema": {
              "$ref": "#/definitions/NetworkInterface"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces": {
      "get": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_ListAll",
        "description": "Gets all network interfaces in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of NetworkInterface resources.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkInterfaceApiTestGET2916": {
            "$ref": "../examples/NetworkInterfaceApiTest-GET-example-2916.json"
          },
          "NetworkInterfaceApiTestIPv6GET2916": {
            "$ref": "../examples/NetworkInterfaceApiTestIPv6-GET-example-2916.json"
          },
          "NetworkInterfaceMultiIpConfigTestGET2916": {
            "$ref": "../examples/NetworkInterfaceMultiIpConfigTest-GET-example-2916.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces": {
      "get": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_List",
        "description": "Gets all network interfaces in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of NetworkInterface resources.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkInterfaceApiTestGET3014": {
            "$ref": "../examples/NetworkInterfaceApiTest-GET-example-3014.json"
          },
          "NetworkInterfaceApiTestGET3015": {
            "$ref": "../examples/NetworkInterfaceApiTest-GET-example-3015.json"
          },
          "NetworkInterfaceApiTestIPv6GET3014": {
            "$ref": "../examples/NetworkInterfaceApiTestIPv6-GET-example-3014.json"
          },
          "NetworkInterfaceApiTestIPv6GET3015": {
            "$ref": "../examples/NetworkInterfaceApiTestIPv6-GET-example-3015.json"
          },
          "NetworkInterfaceDnsSettingsTestGET3012": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTest-GET-example-3012.json"
          },
          "NetworkInterfaceDnsSettingsTestIdnsSuffixGET3012": {
            "$ref": "../examples/NetworkInterfaceDnsSettingsTestIdnsSuffix-GET-example-3012.json"
          },
          "NetworkInterfaceEnableIPForwardingTestGET3015": {
            "$ref": "../examples/NetworkInterfaceEnableIPForwardingTest-GET-example-3015.json"
          },
          "NetworkInterfaceMultiIpConfigTestGET3014": {
            "$ref": "../examples/NetworkInterfaceMultiIpConfigTest-GET-example-3014.json"
          },
          "NetworkInterfaceMultiIpConfigTestGET3015": {
            "$ref": "../examples/NetworkInterfaceMultiIpConfigTest-GET-example-3015.json"
          },
          "NetworkInterfaceNetworkSecurityGroupTestGET3015": {
            "$ref": "../examples/NetworkInterfaceNetworkSecurityGroupTest-GET-example-3015.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveRouteTable": {
      "post": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_GetEffectiveRouteTable",
        "description": "Gets all route tables applied to a network interface.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network interface."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of EffectRoute resources.",
            "schema": {
              "$ref": "#/definitions/EffectiveRouteListResult"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveNetworkSecurityGroups": {
      "post": {
        "tags": [
          "NetworkInterfaces"
        ],
        "operationId": "NetworkInterfaces_ListEffectiveNetworkSecurityGroups",
        "description": "Gets all network security groups applied to a network interface.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network interface."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of NetworkSecurityGroup resources.",
            "schema": {
              "$ref": "#/definitions/EffectiveNetworkSecurityGroupListResult"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "NetworkInterfaceEffectiveNetworkSecurityGroupTestPOST3213": {
            "$ref": "../examples/NetworkInterfaceEffectiveNetworkSecurityGroupTest-POST-example-3213.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}": {
      "delete": {
        "tags": [
          "NetworkSecurityGroups"
        ],
        "operationId": "NetworkSecurityGroups_Delete",
        "description": "Deletes the specified network security group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkSecurityGroupName",
            "in": "path",
[...]
