{
  "swagger": "2.0",
  "info": {
    "title": "SearchManagementClient",
    "description": "Client that can be used to manage Azure Search services and API keys.",
    "version": "2015-08-19"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listAdminKeys": {
      "post": {
        "tags": [
          "AdminKeys"
        ],
        "operationId": "AdminKeys_Get",
        "description": "Gets the primary and secondary admin API keys for the specified Azure Search service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The admin keys were successfully retrieved and are in the response. You can use either the primary or secondary key as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform any operations on your Search service, including privileged operations. Privileged operations include managing resources like indexes and data sources as well as uploading, modifying, or deleting data in your indexes.",
            "schema": {
              "$ref": "#/definitions/AdminKeyResult"
            },
            "examples": {
              "application/json": {
                "primaryKey": "<your primary admin API key>",
                "secondaryKey": "<your secondary admin API key>"
              }
            }
          },
          "default": {
            "description": "HTTP 404 (Not Found): The subscription, resource group, or Search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CanGetAdminKeysPOST14": {
            "$ref": "../examples/CanGetAdminKeys-POST-example-14.json"
          },
          "CanGetAdminKeysPOST15": {
            "$ref": "../examples/CanGetAdminKeys-POST-example-15.json"
          },
          "CanRegenerateAdminKeysPOST14": {
            "$ref": "../examples/CanRegenerateAdminKeys-POST-example-14.json"
          },
          "CanRegenerateAdminKeysPOST15": {
            "$ref": "../examples/CanRegenerateAdminKeys-POST-example-15.json"
          },
          "CanCreateAndDeleteQueryKeysPOST14": {
            "$ref": "../examples/CanCreateAndDeleteQueryKeys-POST-example-14.json"
          },
          "CanListQueryKeysPOST14": {
            "$ref": "../examples/CanListQueryKeys-POST-example-14.json"
          },
          "DeleteQueryKeyIsIdempotentPOST14": {
            "$ref": "../examples/DeleteQueryKeyIsIdempotent-POST-example-14.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/regenerateAdminKey/{keyKind}": {
      "post": {
        "tags": [
          "AdminKeys"
        ],
        "operationId": "AdminKeys_Regenerate",
        "description": "Regenerates either the primary or secondary admin API key. You can only regenerate one key at a time.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "name": "keyKind",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "primary",
              "secondary"
            ],
            "x-ms-enum": {
              "name": "AdminKeyKind",
              "modelAsString": false
            },
            "description": "Specifies which key to regenerate. Valid values include 'primary' and 'secondary'."
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified admin key was successfully regenerated. Both admin keys are included in the response, including the newly-regenerated key.",
            "schema": {
              "$ref": "#/definitions/AdminKeyResult"
            },
            "examples": {
              "application/json": {
                "primaryKey": "<your primary admin API key>",
                "secondaryKey": "<your secondary admin API key>"
              }
            }
          },
          "default": {
            "description": "HTTP 404 (Not Found): The subscription, resource group, or Search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CanRegenerateAdminKeysPOST27": {
            "$ref": "../examples/CanRegenerateAdminKeys-POST-example-27.json"
          },
          "CanRegenerateAdminKeysPOST28": {
            "$ref": "../examples/CanRegenerateAdminKeys-POST-example-28.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/createQueryKey/{name}": {
      "post": {
        "tags": [
          "QueryKeys"
        ],
        "operationId": "QueryKeys_Create",
        "description": "Generates a new query key for the specified Search service. You can create up to 50 query keys per service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the new query API key."
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The query key was successfully created and is in the response. You can use the query key as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform read-only operations on your Search indexes such as querying and looking up documents by ID.",
            "schema": {
              "$ref": "#/definitions/QueryKey"
            },
            "examples": {
              "application/json": {
                "name": "Query key for browser-based clients",
                "key": "<a query API key>"
              }
            }
          },
          "default": {
            "description": "HTTP 404 (Not Found): The subscription, resource group, or Search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CanCreateAndDeleteQueryKeysPOST39": {
            "$ref": "../examples/CanCreateAndDeleteQueryKeys-POST-example-39.json"
          },
          "DeleteQueryKeyIsIdempotentPOST36": {
            "$ref": "../examples/DeleteQueryKeyIsIdempotent-POST-example-36.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listQueryKeys": {
      "get": {
        "tags": [
          "QueryKeys"
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "operationId": "QueryKeys_ListBySearchService",
        "description": "Returns the list of query API keys for the given Azure Search service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "All query keys for the given Search service were successfully retrieved and are in the response. You can use any of the query keys as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform read-only operations on your Search indexes such as querying and looking up documents by ID.",
            "schema": {
              "$ref": "#/definitions/ListQueryKeysResult"
            },
            "examples": {
              "application/json": {
                "value": [
                  {
                    "name": "Query key for browser-based clients",
                    "key": "<a query API key>"
                  },
                  {
                    "name": "Query key for mobile clients",
                    "key": "<another query API key>"
                  }
                ],
                "nextLink": null
              }
            }
          },
          "default": {
            "description": "HTTP 404 (Not Found): The subscription, resource group, or Search service could not be found. HTTP 409 (Conflict): The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CanGetAdminKeysGET46": {
            "$ref": "../examples/CanGetAdminKeys-GET-example-46.json"
          },
          "CanRegenerateAdminKeysGET46": {
            "$ref": "../examples/CanRegenerateAdminKeys-GET-example-46.json"
          },
          "CanCreateAndDeleteQueryKeysGET45": {
            "$ref": "../examples/CanCreateAndDeleteQueryKeys-GET-example-45.json"
          },
          "CanCreateAndDeleteQueryKeysGET46": {
            "$ref": "../examples/CanCreateAndDeleteQueryKeys-GET-example-46.json"
          },
          "CanCreateAndDeleteQueryKeysGET47": {
            "$ref": "../examples/CanCreateAndDeleteQueryKeys-GET-example-47.json"
          },
          "CanCreateAndDeleteQueryKeysGET48": {
            "$ref": "../examples/CanCreateAndDeleteQueryKeys-GET-example-48.json"
          },
          "CanListQueryKeysGET45": {
            "$ref": "../examples/CanListQueryKeys-GET-example-45.json"
          },
          "CanListQueryKeysGET46": {
            "$ref": "../examples/CanListQueryKeys-GET-example-46.json"
          },
          "DeleteQueryKeyIsIdempotentGET45": {
            "$ref": "../examples/DeleteQueryKeyIsIdempotent-GET-example-45.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/deleteQueryKey/{key}": {
      "delete": {
        "tags": [
          "QueryKeys"
        ],
        "operationId": "QueryKeys_Delete",
        "description": "Deletes the specified query key. Unlike admin keys, query keys are not regenerated. The process for regenerating a query key is to delete and then recreate it.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The query key to be deleted. Query keys are identified by value, not by name."
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The query key was successfully deleted."
          },
          "204": {
            "description": "The query key was successfully deleted."
          },
          "404": {
            "description": "The subscription, resource group, Search service, or query key could not be found."
          },
          "default": {
            "description": "HTTP 409 (Conflict): The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CanCreateAndDeleteQueryKeysDELETE510": {
            "$ref": "../examples/CanCreateAndDeleteQueryKeys-DELETE-example-510.json"
          },
          "DeleteQueryKeyIsIdempotentDELETE57": {
            "$ref": "../examples/DeleteQueryKeyIsIdempotent-DELETE-example-57.json"
          },
          "DeleteQueryKeyIsIdempotentDELETE58": {
            "$ref": "../examples/DeleteQueryKeyIsIdempotent-DELETE-example-58.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}": {
      "put": {
        "tags": [
          "Services"
        ],
        "operationId": "Services_CreateOrUpdate",
        "description": "Creates or updates a Search service in the given resource group. If the Search service already exists, all properties will be updated with the given values.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure Search service to create or update. Search service names must only contain lowercase letters, digits or dashes, cannot use dash as the first two or last one characters, cannot contain consecutive dashes, and must be between 2 and 60 characters in length. Search service names must be globally unique since they are part of the service URI (https://<name>.search.windows.net). You cannot change the service name after the service is created."
          },
          {
            "name": "service",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchService"
            },
            "description": "The definition of the Search service to create or update."
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The existing service definition was successfully updated. If you changed the number of replicas or partitions, the scale operation will happen asynchronously. You can periodically get your service definition and monitor progress via the provisioningState property.",
            "schema": {
              "$ref": "#/definitions/SearchService"
            },
            "examples": {
              "application/json": {
                "id": "/subscriptions/<your subscription ID here>/resourceGroups/Default-ResourceGroup/providers/Microsoft.Search/searchServices/your-service-name-here",
                "name": "your-service-name-here",
                "location": "westus",
                "type": "Microsoft.Search/searchServices",
                "tags": {
                  "app-name": "My e-commerce app"
                },
                "sku": {
                  "name": "standard"
                },
                "properties": {
                  "replicaCount": 3,
                  "partitionCount": 1,
                  "status": "provisioning",
                  "statusDetails": "",
                  "hostingMode": "default",
                  "provisioningState": "provisioning"
                }
              }
            }
          },
          "201": {
            "description": "If you requested creation of a free Search service, the service is now provisioned and ready to use, subject to DNS propagation delay. For other SKU types, provisioning happens asynchronously. You can periodically get your service definition and monitor progress via the provisioningState property.",
            "schema": {
              "$ref": "#/definitions/SearchService"
            },
            "examples": {
              "application/json": {
                "id": "/subscriptions/<your subscription ID here>/resourceGroups/Default-ResourceGroup/providers/Microsoft.Search/searchServices/your-service-name-here",
                "name": "your-service-name-here",
                "location": "westus",
                "type": "Microsoft.Search/searchServices",
                "tags": {
                  "app-name": "My e-commerce app"
                },
                "sku": {
                  "name": "standard"
                },
                "properties": {
                  "replicaCount": 3,
                  "partitionCount": 1,
                  "status": "provisioning",
                  "statusDetails": "",
                  "hostingMode": "default",
                  "provisioningState": "provisioning"
                }
              }
            }
          },
          "default": {
            "description": "HTTP 400 (Bad Request): The given service name or service definition is invalid; See the error code and message in the response for details. HTTP 404 (Not Found): The subscription or resource group could not be found. HTTP 409 (Conflict): The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CanGetAdminKeysPUT63": {
            "$ref": "../examples/CanGetAdminKeys-PUT-example-63.json"
          },
          "CanRegenerateAdminKeysPUT63": {
            "$ref": "../examples/CanRegenerateAdminKeys-PUT-example-63.json"
          },
          "CanCreateAndDeleteQueryKeysPUT63": {
            "$ref": "../examples/CanCreateAndDeleteQueryKeys-PUT-example-63.json"
          },
          "CanListQueryKeysPUT63": {
            "$ref": "../examples/CanListQueryKeys-PUT-example-63.json"
          },
          "DeleteQueryKeyIsIdempotentPUT63": {
            "$ref": "../examples/DeleteQueryKeyIsIdempotent-PUT-example-63.json"
          },
          "CanCreateAndDeleteServicePUT63": {
            "$ref": "../examples/CanCreateAndDeleteService-PUT-example-63.json"
          },
          "CanCreateAndGetServicePUT63": {
            "$ref": "../examples/CanCreateAndGetService-PUT-example-63.json"
          },
          "CanCreateBasicServicePUT63": {
            "$ref": "../examples/CanCreateBasicService-PUT-example-63.json"
          },
          "CanCreateStandard2ServicePUT63": {
            "$ref": "../examples/CanCreateStandard2Service-PUT-example-63.json"
          },
          "CanCreateStandard3HighDensityServicePUT63": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-PUT-example-63.json"
          },
          "CanCreateStandard3ServicePUT63": {
            "$ref": "../examples/CanCreateStandard3Service-PUT-example-63.json"
          },
          "CanCreateStandardServicePUT63": {
            "$ref": "../examples/CanCreateStandardService-PUT-example-63.json"
          },
          "CanListServicesPUT63": {
            "$ref": "../examples/CanListServices-PUT-example-63.json"
          },
          "CanListServicesPUT64": {
            "$ref": "../examples/CanListServices-PUT-example-64.json"
          },
          "CanScaleServiceUpAndDownPUT63": {
            "$ref": "../examples/CanScaleServiceUpAndDown-PUT-example-63.json"
          },
          "CanScaleServiceUpAndDownPUT64": {
            "$ref": "../examples/CanScaleServiceUpAndDown-PUT-example-64.json"
          },
          "CanScaleServiceUpAndDownPUT65": {
            "$ref": "../examples/CanScaleServiceUpAndDown-PUT-example-65.json"
          },
          "CheckNameAvailabilityFailsOnUsedNamePUT63": {
            "$ref": "../examples/CheckNameAvailabilityFailsOnUsedName-PUT-example-63.json"
          },
          "CreateServiceWithInvalidNameGivesUsefulMessagePUT63": {
            "$ref": "../examples/CreateServiceWithInvalidNameGivesUsefulMessage-PUT-example-63.json"
          },
          "DeleteServiceIsIdempotentPUT63": {
            "$ref": "../examples/DeleteServiceIsIdempotent-PUT-example-63.json"
          }
        }
      },
      "get": {
        "tags": [
          "Services"
        ],
        "operationId": "Services_Get",
        "description": "Gets the Search service with the given name in the given resource group.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Search service definition was successfully retrieved and is in the response. If you are polling for the completion of a provisioning or scale operation, you can check its status via the provisioningState property.",
            "schema": {
              "$ref": "#/definitions/SearchService"
            },
            "examples": {
              "application/json": {
                "id": "/subscriptions/<your subscription ID here>/resourceGroups/Default-ResourceGroup/providers/Microsoft.Search/searchServices/your-service-name-here",
                "name": "your-service-name-here",
                "location": "westus",
                "type": "Microsoft.Search/searchServices",
                "tags": {
                  "app-name": "My e-commerce app"
                },
                "sku": {
                  "name": "standard"
                },
                "properties": {
                  "replicaCount": 3,
                  "partitionCount": 1,
                  "status": "running",
                  "statusDetails": "",
                  "hostingMode": "default",
                  "provisioningState": "succeeded"
                }
              }
            }
          },
          "default": {
            "description": "HTTP 404 (Not Found): The subscription, resource group, or Search service name could not be found.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CanCreateAndGetServiceGET64": {
            "$ref": "../examples/CanCreateAndGetService-GET-example-64.json"
          },
          "CanCreateBasicServiceGET64": {
            "$ref": "../examples/CanCreateBasicService-GET-example-64.json"
          },
          "CanCreateBasicServiceGET65": {
            "$ref": "../examples/CanCreateBasicService-GET-example-65.json"
          },
          "CanCreateBasicServiceGET66": {
            "$ref": "../examples/CanCreateBasicService-GET-example-66.json"
          },
          "CanCreateBasicServiceGET67": {
            "$ref": "../examples/CanCreateBasicService-GET-example-67.json"
          },
          "CanCreateBasicServiceGET68": {
            "$ref": "../examples/CanCreateBasicService-GET-example-68.json"
          },
          "CanCreateBasicServiceGET69": {
            "$ref": "../examples/CanCreateBasicService-GET-example-69.json"
          },
          "CanCreateBasicServiceGET610": {
            "$ref": "../examples/CanCreateBasicService-GET-example-610.json"
          },
          "CanCreateBasicServiceGET611": {
            "$ref": "../examples/CanCreateBasicService-GET-example-611.json"
          },
          "CanCreateBasicServiceGET612": {
            "$ref": "../examples/CanCreateBasicService-GET-example-612.json"
          },
          "CanCreateBasicServiceGET613": {
            "$ref": "../examples/CanCreateBasicService-GET-example-613.json"
          },
          "CanCreateBasicServiceGET614": {
            "$ref": "../examples/CanCreateBasicService-GET-example-614.json"
          },
          "CanCreateBasicServiceGET615": {
            "$ref": "../examples/CanCreateBasicService-GET-example-615.json"
          },
          "CanCreateBasicServiceGET616": {
            "$ref": "../examples/CanCreateBasicService-GET-example-616.json"
          },
          "CanCreateBasicServiceGET617": {
            "$ref": "../examples/CanCreateBasicService-GET-example-617.json"
          },
          "CanCreateBasicServiceGET618": {
            "$ref": "../examples/CanCreateBasicService-GET-example-618.json"
          },
          "CanCreateBasicServiceGET619": {
            "$ref": "../examples/CanCreateBasicService-GET-example-619.json"
          },
          "CanCreateBasicServiceGET620": {
            "$ref": "../examples/CanCreateBasicService-GET-example-620.json"
          },
          "CanCreateBasicServiceGET621": {
            "$ref": "../examples/CanCreateBasicService-GET-example-621.json"
          },
          "CanCreateBasicServiceGET622": {
            "$ref": "../examples/CanCreateBasicService-GET-example-622.json"
          },
          "CanCreateBasicServiceGET623": {
            "$ref": "../examples/CanCreateBasicService-GET-example-623.json"
          },
          "CanCreateBasicServiceGET624": {
            "$ref": "../examples/CanCreateBasicService-GET-example-624.json"
          },
          "CanCreateBasicServiceGET625": {
            "$ref": "../examples/CanCreateBasicService-GET-example-625.json"
          },
          "CanCreateBasicServiceGET626": {
            "$ref": "../examples/CanCreateBasicService-GET-example-626.json"
          },
          "CanCreateBasicServiceGET627": {
            "$ref": "../examples/CanCreateBasicService-GET-example-627.json"
          },
          "CanCreateBasicServiceGET628": {
            "$ref": "../examples/CanCreateBasicService-GET-example-628.json"
          },
          "CanCreateBasicServiceGET629": {
            "$ref": "../examples/CanCreateBasicService-GET-example-629.json"
          },
          "CanCreateBasicServiceGET630": {
            "$ref": "../examples/CanCreateBasicService-GET-example-630.json"
          },
          "CanCreateBasicServiceGET631": {
            "$ref": "../examples/CanCreateBasicService-GET-example-631.json"
          },
          "CanCreateBasicServiceGET632": {
            "$ref": "../examples/CanCreateBasicService-GET-example-632.json"
          },
          "CanCreateBasicServiceGET633": {
            "$ref": "../examples/CanCreateBasicService-GET-example-633.json"
          },
          "CanCreateBasicServiceGET634": {
            "$ref": "../examples/CanCreateBasicService-GET-example-634.json"
          },
          "CanCreateBasicServiceGET635": {
            "$ref": "../examples/CanCreateBasicService-GET-example-635.json"
          },
          "CanCreateBasicServiceGET636": {
            "$ref": "../examples/CanCreateBasicService-GET-example-636.json"
          },
          "CanCreateBasicServiceGET637": {
            "$ref": "../examples/CanCreateBasicService-GET-example-637.json"
          },
          "CanCreateBasicServiceGET638": {
            "$ref": "../examples/CanCreateBasicService-GET-example-638.json"
          },
          "CanCreateBasicServiceGET639": {
            "$ref": "../examples/CanCreateBasicService-GET-example-639.json"
          },
          "CanCreateBasicServiceGET640": {
            "$ref": "../examples/CanCreateBasicService-GET-example-640.json"
          },
          "CanCreateBasicServiceGET641": {
            "$ref": "../examples/CanCreateBasicService-GET-example-641.json"
          },
          "CanCreateBasicServiceGET642": {
            "$ref": "../examples/CanCreateBasicService-GET-example-642.json"
          },
          "CanCreateBasicServiceGET643": {
            "$ref": "../examples/CanCreateBasicService-GET-example-643.json"
          },
          "CanCreateBasicServiceGET644": {
            "$ref": "../examples/CanCreateBasicService-GET-example-644.json"
          },
          "CanCreateBasicServiceGET645": {
            "$ref": "../examples/CanCreateBasicService-GET-example-645.json"
          },
          "CanCreateBasicServiceGET646": {
            "$ref": "../examples/CanCreateBasicService-GET-example-646.json"
          },
          "CanCreateBasicServiceGET647": {
            "$ref": "../examples/CanCreateBasicService-GET-example-647.json"
          },
          "CanCreateBasicServiceGET648": {
            "$ref": "../examples/CanCreateBasicService-GET-example-648.json"
          },
          "CanCreateBasicServiceGET649": {
            "$ref": "../examples/CanCreateBasicService-GET-example-649.json"
          },
          "CanCreateBasicServiceGET650": {
            "$ref": "../examples/CanCreateBasicService-GET-example-650.json"
          },
          "CanCreateBasicServiceGET651": {
            "$ref": "../examples/CanCreateBasicService-GET-example-651.json"
          },
          "CanCreateBasicServiceGET652": {
            "$ref": "../examples/CanCreateBasicService-GET-example-652.json"
          },
          "CanCreateBasicServiceGET653": {
            "$ref": "../examples/CanCreateBasicService-GET-example-653.json"
          },
          "CanCreateBasicServiceGET654": {
            "$ref": "../examples/CanCreateBasicService-GET-example-654.json"
          },
          "CanCreateBasicServiceGET655": {
            "$ref": "../examples/CanCreateBasicService-GET-example-655.json"
          },
          "CanCreateBasicServiceGET656": {
            "$ref": "../examples/CanCreateBasicService-GET-example-656.json"
          },
          "CanCreateBasicServiceGET657": {
            "$ref": "../examples/CanCreateBasicService-GET-example-657.json"
          },
          "CanCreateBasicServiceGET658": {
            "$ref": "../examples/CanCreateBasicService-GET-example-658.json"
          },
          "CanCreateBasicServiceGET659": {
            "$ref": "../examples/CanCreateBasicService-GET-example-659.json"
          },
          "CanCreateBasicServiceGET660": {
            "$ref": "../examples/CanCreateBasicService-GET-example-660.json"
          },
          "CanCreateBasicServiceGET661": {
            "$ref": "../examples/CanCreateBasicService-GET-example-661.json"
          },
          "CanCreateBasicServiceGET662": {
            "$ref": "../examples/CanCreateBasicService-GET-example-662.json"
          },
          "CanCreateBasicServiceGET663": {
            "$ref": "../examples/CanCreateBasicService-GET-example-663.json"
          },
          "CanCreateBasicServiceGET664": {
            "$ref": "../examples/CanCreateBasicService-GET-example-664.json"
          },
          "CanCreateBasicServiceGET665": {
            "$ref": "../examples/CanCreateBasicService-GET-example-665.json"
          },
          "CanCreateBasicServiceGET666": {
            "$ref": "../examples/CanCreateBasicService-GET-example-666.json"
          },
          "CanCreateBasicServiceGET667": {
            "$ref": "../examples/CanCreateBasicService-GET-example-667.json"
          },
          "CanCreateBasicServiceGET668": {
            "$ref": "../examples/CanCreateBasicService-GET-example-668.json"
          },
          "CanCreateBasicServiceGET669": {
            "$ref": "../examples/CanCreateBasicService-GET-example-669.json"
          },
          "CanCreateBasicServiceGET670": {
            "$ref": "../examples/CanCreateBasicService-GET-example-670.json"
          },
          "CanCreateBasicServiceGET671": {
            "$ref": "../examples/CanCreateBasicService-GET-example-671.json"
          },
          "CanCreateBasicServiceGET672": {
            "$ref": "../examples/CanCreateBasicService-GET-example-672.json"
          },
          "CanCreateBasicServiceGET673": {
            "$ref": "../examples/CanCreateBasicService-GET-example-673.json"
          },
          "CanCreateBasicServiceGET674": {
            "$ref": "../examples/CanCreateBasicService-GET-example-674.json"
          },
          "CanCreateBasicServiceGET675": {
            "$ref": "../examples/CanCreateBasicService-GET-example-675.json"
          },
          "CanCreateBasicServiceGET676": {
            "$ref": "../examples/CanCreateBasicService-GET-example-676.json"
          },
          "CanCreateBasicServiceGET677": {
            "$ref": "../examples/CanCreateBasicService-GET-example-677.json"
          },
          "CanCreateBasicServiceGET678": {
            "$ref": "../examples/CanCreateBasicService-GET-example-678.json"
          },
          "CanCreateBasicServiceGET679": {
            "$ref": "../examples/CanCreateBasicService-GET-example-679.json"
          },
          "CanCreateBasicServiceGET680": {
            "$ref": "../examples/CanCreateBasicService-GET-example-680.json"
          },
          "CanCreateBasicServiceGET681": {
            "$ref": "../examples/CanCreateBasicService-GET-example-681.json"
          },
          "CanCreateBasicServiceGET682": {
            "$ref": "../examples/CanCreateBasicService-GET-example-682.json"
          },
          "CanCreateBasicServiceGET683": {
            "$ref": "../examples/CanCreateBasicService-GET-example-683.json"
          },
          "CanCreateBasicServiceGET684": {
            "$ref": "../examples/CanCreateBasicService-GET-example-684.json"
          },
          "CanCreateBasicServiceGET685": {
            "$ref": "../examples/CanCreateBasicService-GET-example-685.json"
          },
          "CanCreateBasicServiceGET686": {
            "$ref": "../examples/CanCreateBasicService-GET-example-686.json"
          },
          "CanCreateBasicServiceGET687": {
            "$ref": "../examples/CanCreateBasicService-GET-example-687.json"
          },
          "CanCreateBasicServiceGET688": {
            "$ref": "../examples/CanCreateBasicService-GET-example-688.json"
          },
          "CanCreateBasicServiceGET689": {
            "$ref": "../examples/CanCreateBasicService-GET-example-689.json"
          },
          "CanCreateBasicServiceGET690": {
            "$ref": "../examples/CanCreateBasicService-GET-example-690.json"
          },
          "CanCreateBasicServiceGET691": {
            "$ref": "../examples/CanCreateBasicService-GET-example-691.json"
          },
          "CanCreateBasicServiceGET692": {
            "$ref": "../examples/CanCreateBasicService-GET-example-692.json"
          },
          "CanCreateBasicServiceGET693": {
            "$ref": "../examples/CanCreateBasicService-GET-example-693.json"
          },
          "CanCreateBasicServiceGET694": {
            "$ref": "../examples/CanCreateBasicService-GET-example-694.json"
          },
          "CanCreateBasicServiceGET695": {
            "$ref": "../examples/CanCreateBasicService-GET-example-695.json"
          },
          "CanCreateBasicServiceGET696": {
            "$ref": "../examples/CanCreateBasicService-GET-example-696.json"
          },
          "CanCreateBasicServiceGET697": {
            "$ref": "../examples/CanCreateBasicService-GET-example-697.json"
          },
          "CanCreateBasicServiceGET698": {
            "$ref": "../examples/CanCreateBasicService-GET-example-698.json"
          },
          "CanCreateBasicServiceGET699": {
            "$ref": "../examples/CanCreateBasicService-GET-example-699.json"
          },
          "CanCreateBasicServiceGET6100": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6100.json"
          },
          "CanCreateBasicServiceGET6101": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6101.json"
          },
          "CanCreateBasicServiceGET6102": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6102.json"
          },
          "CanCreateBasicServiceGET6103": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6103.json"
          },
          "CanCreateBasicServiceGET6104": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6104.json"
          },
          "CanCreateBasicServiceGET6105": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6105.json"
          },
          "CanCreateBasicServiceGET6106": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6106.json"
          },
          "CanCreateBasicServiceGET6107": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6107.json"
          },
          "CanCreateBasicServiceGET6108": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6108.json"
          },
          "CanCreateBasicServiceGET6109": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6109.json"
          },
          "CanCreateBasicServiceGET6110": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6110.json"
          },
          "CanCreateBasicServiceGET6111": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6111.json"
          },
          "CanCreateBasicServiceGET6112": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6112.json"
          },
          "CanCreateBasicServiceGET6113": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6113.json"
          },
          "CanCreateBasicServiceGET6114": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6114.json"
          },
          "CanCreateBasicServiceGET6115": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6115.json"
          },
          "CanCreateBasicServiceGET6116": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6116.json"
          },
          "CanCreateBasicServiceGET6117": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6117.json"
          },
          "CanCreateBasicServiceGET6118": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6118.json"
          },
          "CanCreateBasicServiceGET6119": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6119.json"
          },
          "CanCreateBasicServiceGET6120": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6120.json"
          },
          "CanCreateBasicServiceGET6121": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6121.json"
          },
          "CanCreateBasicServiceGET6122": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6122.json"
          },
          "CanCreateBasicServiceGET6123": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6123.json"
          },
          "CanCreateBasicServiceGET6124": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6124.json"
          },
          "CanCreateBasicServiceGET6125": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6125.json"
          },
          "CanCreateBasicServiceGET6126": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6126.json"
          },
          "CanCreateBasicServiceGET6127": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6127.json"
          },
          "CanCreateBasicServiceGET6128": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6128.json"
          },
          "CanCreateBasicServiceGET6129": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6129.json"
          },
          "CanCreateBasicServiceGET6130": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6130.json"
          },
          "CanCreateBasicServiceGET6131": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6131.json"
          },
          "CanCreateBasicServiceGET6132": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6132.json"
          },
          "CanCreateBasicServiceGET6133": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6133.json"
          },
          "CanCreateBasicServiceGET6134": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6134.json"
          },
          "CanCreateBasicServiceGET6135": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6135.json"
          },
          "CanCreateBasicServiceGET6136": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6136.json"
          },
          "CanCreateBasicServiceGET6137": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6137.json"
          },
          "CanCreateBasicServiceGET6138": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6138.json"
          },
          "CanCreateBasicServiceGET6139": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6139.json"
          },
          "CanCreateBasicServiceGET6140": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6140.json"
          },
          "CanCreateBasicServiceGET6141": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6141.json"
          },
          "CanCreateBasicServiceGET6142": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6142.json"
          },
          "CanCreateBasicServiceGET6143": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6143.json"
          },
          "CanCreateBasicServiceGET6144": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6144.json"
          },
          "CanCreateBasicServiceGET6145": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6145.json"
          },
          "CanCreateBasicServiceGET6146": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6146.json"
          },
          "CanCreateBasicServiceGET6147": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6147.json"
          },
          "CanCreateBasicServiceGET6148": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6148.json"
          },
          "CanCreateBasicServiceGET6149": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6149.json"
          },
          "CanCreateBasicServiceGET6150": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6150.json"
          },
          "CanCreateBasicServiceGET6151": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6151.json"
          },
          "CanCreateBasicServiceGET6152": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6152.json"
          },
          "CanCreateBasicServiceGET6153": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6153.json"
          },
          "CanCreateBasicServiceGET6154": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6154.json"
          },
          "CanCreateBasicServiceGET6155": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6155.json"
          },
          "CanCreateBasicServiceGET6156": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6156.json"
          },
          "CanCreateBasicServiceGET6157": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6157.json"
          },
          "CanCreateBasicServiceGET6158": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6158.json"
          },
          "CanCreateBasicServiceGET6159": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6159.json"
          },
          "CanCreateBasicServiceGET6160": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6160.json"
          },
          "CanCreateBasicServiceGET6161": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6161.json"
          },
          "CanCreateBasicServiceGET6162": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6162.json"
          },
          "CanCreateBasicServiceGET6163": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6163.json"
          },
          "CanCreateBasicServiceGET6164": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6164.json"
          },
          "CanCreateBasicServiceGET6165": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6165.json"
          },
          "CanCreateBasicServiceGET6166": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6166.json"
          },
          "CanCreateBasicServiceGET6167": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6167.json"
          },
          "CanCreateBasicServiceGET6168": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6168.json"
          },
          "CanCreateBasicServiceGET6169": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6169.json"
          },
          "CanCreateBasicServiceGET6170": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6170.json"
          },
          "CanCreateBasicServiceGET6171": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6171.json"
          },
          "CanCreateBasicServiceGET6172": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6172.json"
          },
          "CanCreateBasicServiceGET6173": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6173.json"
          },
          "CanCreateBasicServiceGET6174": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6174.json"
          },
          "CanCreateBasicServiceGET6175": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6175.json"
          },
          "CanCreateBasicServiceGET6176": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6176.json"
          },
          "CanCreateBasicServiceGET6177": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6177.json"
          },
          "CanCreateBasicServiceGET6178": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6178.json"
          },
          "CanCreateBasicServiceGET6179": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6179.json"
          },
          "CanCreateBasicServiceGET6180": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6180.json"
          },
          "CanCreateBasicServiceGET6181": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6181.json"
          },
          "CanCreateBasicServiceGET6182": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6182.json"
          },
          "CanCreateBasicServiceGET6183": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6183.json"
          },
          "CanCreateBasicServiceGET6184": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6184.json"
          },
          "CanCreateBasicServiceGET6185": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6185.json"
          },
          "CanCreateBasicServiceGET6186": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6186.json"
          },
          "CanCreateBasicServiceGET6187": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6187.json"
          },
          "CanCreateBasicServiceGET6188": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6188.json"
          },
          "CanCreateBasicServiceGET6189": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6189.json"
          },
          "CanCreateBasicServiceGET6190": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6190.json"
          },
          "CanCreateBasicServiceGET6191": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6191.json"
          },
          "CanCreateBasicServiceGET6192": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6192.json"
          },
          "CanCreateBasicServiceGET6193": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6193.json"
          },
          "CanCreateBasicServiceGET6194": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6194.json"
          },
          "CanCreateBasicServiceGET6195": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6195.json"
          },
          "CanCreateBasicServiceGET6196": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6196.json"
          },
          "CanCreateBasicServiceGET6197": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6197.json"
          },
          "CanCreateBasicServiceGET6198": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6198.json"
          },
          "CanCreateBasicServiceGET6199": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6199.json"
          },
          "CanCreateBasicServiceGET6200": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6200.json"
          },
          "CanCreateBasicServiceGET6201": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6201.json"
          },
          "CanCreateBasicServiceGET6202": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6202.json"
          },
          "CanCreateBasicServiceGET6203": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6203.json"
          },
          "CanCreateBasicServiceGET6204": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6204.json"
          },
          "CanCreateBasicServiceGET6205": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6205.json"
          },
          "CanCreateBasicServiceGET6206": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6206.json"
          },
          "CanCreateBasicServiceGET6207": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6207.json"
          },
          "CanCreateBasicServiceGET6208": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6208.json"
          },
          "CanCreateBasicServiceGET6209": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6209.json"
          },
          "CanCreateBasicServiceGET6210": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6210.json"
          },
          "CanCreateBasicServiceGET6211": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6211.json"
          },
          "CanCreateBasicServiceGET6212": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6212.json"
          },
          "CanCreateBasicServiceGET6213": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6213.json"
          },
          "CanCreateBasicServiceGET6214": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6214.json"
          },
          "CanCreateBasicServiceGET6215": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6215.json"
          },
          "CanCreateBasicServiceGET6216": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6216.json"
          },
          "CanCreateBasicServiceGET6217": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6217.json"
          },
          "CanCreateBasicServiceGET6218": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6218.json"
          },
          "CanCreateBasicServiceGET6219": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6219.json"
          },
          "CanCreateBasicServiceGET6220": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6220.json"
          },
          "CanCreateBasicServiceGET6221": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6221.json"
          },
          "CanCreateBasicServiceGET6222": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6222.json"
          },
          "CanCreateBasicServiceGET6223": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6223.json"
          },
          "CanCreateBasicServiceGET6224": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6224.json"
          },
          "CanCreateBasicServiceGET6225": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6225.json"
          },
          "CanCreateBasicServiceGET6226": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6226.json"
          },
          "CanCreateBasicServiceGET6227": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6227.json"
          },
          "CanCreateBasicServiceGET6228": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6228.json"
          },
          "CanCreateBasicServiceGET6229": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6229.json"
          },
          "CanCreateBasicServiceGET6230": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6230.json"
          },
          "CanCreateBasicServiceGET6231": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6231.json"
          },
          "CanCreateBasicServiceGET6232": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6232.json"
          },
          "CanCreateBasicServiceGET6233": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6233.json"
          },
          "CanCreateBasicServiceGET6234": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6234.json"
          },
          "CanCreateBasicServiceGET6235": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6235.json"
          },
          "CanCreateBasicServiceGET6236": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6236.json"
          },
          "CanCreateBasicServiceGET6237": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6237.json"
          },
          "CanCreateBasicServiceGET6238": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6238.json"
          },
          "CanCreateBasicServiceGET6239": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6239.json"
          },
          "CanCreateBasicServiceGET6240": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6240.json"
          },
          "CanCreateBasicServiceGET6241": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6241.json"
          },
          "CanCreateBasicServiceGET6242": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6242.json"
          },
          "CanCreateBasicServiceGET6243": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6243.json"
          },
          "CanCreateBasicServiceGET6244": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6244.json"
          },
          "CanCreateBasicServiceGET6245": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6245.json"
          },
          "CanCreateBasicServiceGET6246": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6246.json"
          },
          "CanCreateBasicServiceGET6247": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6247.json"
          },
          "CanCreateBasicServiceGET6248": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6248.json"
          },
          "CanCreateBasicServiceGET6249": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6249.json"
          },
          "CanCreateBasicServiceGET6250": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6250.json"
          },
          "CanCreateBasicServiceGET6251": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6251.json"
          },
          "CanCreateBasicServiceGET6252": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6252.json"
          },
          "CanCreateBasicServiceGET6253": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6253.json"
          },
          "CanCreateBasicServiceGET6254": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6254.json"
          },
          "CanCreateBasicServiceGET6255": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6255.json"
          },
          "CanCreateBasicServiceGET6256": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6256.json"
          },
          "CanCreateBasicServiceGET6257": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6257.json"
          },
          "CanCreateBasicServiceGET6258": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6258.json"
          },
          "CanCreateBasicServiceGET6259": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6259.json"
          },
          "CanCreateBasicServiceGET6260": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6260.json"
          },
          "CanCreateBasicServiceGET6261": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6261.json"
          },
          "CanCreateBasicServiceGET6262": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6262.json"
          },
          "CanCreateBasicServiceGET6263": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6263.json"
          },
          "CanCreateBasicServiceGET6264": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6264.json"
          },
          "CanCreateBasicServiceGET6265": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6265.json"
          },
          "CanCreateBasicServiceGET6266": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6266.json"
          },
          "CanCreateBasicServiceGET6267": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6267.json"
          },
          "CanCreateBasicServiceGET6268": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6268.json"
          },
          "CanCreateBasicServiceGET6269": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6269.json"
          },
          "CanCreateBasicServiceGET6270": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6270.json"
          },
          "CanCreateBasicServiceGET6271": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6271.json"
          },
          "CanCreateBasicServiceGET6272": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6272.json"
          },
          "CanCreateBasicServiceGET6273": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6273.json"
          },
          "CanCreateBasicServiceGET6274": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6274.json"
          },
          "CanCreateBasicServiceGET6275": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6275.json"
          },
          "CanCreateBasicServiceGET6276": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6276.json"
          },
          "CanCreateBasicServiceGET6277": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6277.json"
          },
          "CanCreateBasicServiceGET6278": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6278.json"
          },
          "CanCreateBasicServiceGET6279": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6279.json"
          },
          "CanCreateBasicServiceGET6280": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6280.json"
          },
          "CanCreateBasicServiceGET6281": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6281.json"
          },
          "CanCreateBasicServiceGET6282": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6282.json"
          },
          "CanCreateBasicServiceGET6283": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6283.json"
          },
          "CanCreateBasicServiceGET6284": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6284.json"
          },
          "CanCreateBasicServiceGET6285": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6285.json"
          },
          "CanCreateBasicServiceGET6286": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6286.json"
          },
          "CanCreateBasicServiceGET6287": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6287.json"
          },
          "CanCreateBasicServiceGET6288": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6288.json"
          },
          "CanCreateBasicServiceGET6289": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6289.json"
          },
          "CanCreateBasicServiceGET6290": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6290.json"
          },
          "CanCreateBasicServiceGET6291": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6291.json"
          },
          "CanCreateBasicServiceGET6292": {
            "$ref": "../examples/CanCreateBasicService-GET-example-6292.json"
          },
          "CanCreateStandard2ServiceGET64": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-64.json"
          },
          "CanCreateStandard2ServiceGET65": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-65.json"
          },
          "CanCreateStandard2ServiceGET66": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-66.json"
          },
          "CanCreateStandard2ServiceGET67": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-67.json"
          },
          "CanCreateStandard2ServiceGET68": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-68.json"
          },
          "CanCreateStandard2ServiceGET69": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-69.json"
          },
          "CanCreateStandard2ServiceGET610": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-610.json"
          },
          "CanCreateStandard2ServiceGET611": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-611.json"
          },
          "CanCreateStandard2ServiceGET612": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-612.json"
          },
          "CanCreateStandard2ServiceGET613": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-613.json"
          },
          "CanCreateStandard2ServiceGET614": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-614.json"
          },
          "CanCreateStandard2ServiceGET615": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-615.json"
          },
          "CanCreateStandard2ServiceGET616": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-616.json"
          },
          "CanCreateStandard2ServiceGET617": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-617.json"
          },
          "CanCreateStandard2ServiceGET618": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-618.json"
          },
          "CanCreateStandard2ServiceGET619": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-619.json"
          },
          "CanCreateStandard2ServiceGET620": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-620.json"
          },
          "CanCreateStandard2ServiceGET621": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-621.json"
          },
          "CanCreateStandard2ServiceGET622": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-622.json"
          },
          "CanCreateStandard2ServiceGET623": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-623.json"
          },
          "CanCreateStandard2ServiceGET624": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-624.json"
          },
          "CanCreateStandard2ServiceGET625": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-625.json"
          },
          "CanCreateStandard2ServiceGET626": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-626.json"
          },
          "CanCreateStandard2ServiceGET627": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-627.json"
          },
          "CanCreateStandard2ServiceGET628": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-628.json"
          },
          "CanCreateStandard2ServiceGET629": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-629.json"
          },
          "CanCreateStandard2ServiceGET630": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-630.json"
          },
          "CanCreateStandard2ServiceGET631": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-631.json"
          },
          "CanCreateStandard2ServiceGET632": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-632.json"
          },
          "CanCreateStandard2ServiceGET633": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-633.json"
          },
          "CanCreateStandard2ServiceGET634": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-634.json"
          },
          "CanCreateStandard2ServiceGET635": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-635.json"
          },
          "CanCreateStandard2ServiceGET636": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-636.json"
          },
          "CanCreateStandard2ServiceGET637": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-637.json"
          },
          "CanCreateStandard2ServiceGET638": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-638.json"
          },
          "CanCreateStandard2ServiceGET639": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-639.json"
          },
          "CanCreateStandard2ServiceGET640": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-640.json"
          },
          "CanCreateStandard2ServiceGET641": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-641.json"
          },
          "CanCreateStandard2ServiceGET642": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-642.json"
          },
          "CanCreateStandard2ServiceGET643": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-643.json"
          },
          "CanCreateStandard2ServiceGET644": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-644.json"
          },
          "CanCreateStandard2ServiceGET645": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-645.json"
          },
          "CanCreateStandard2ServiceGET646": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-646.json"
          },
          "CanCreateStandard2ServiceGET647": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-647.json"
          },
          "CanCreateStandard2ServiceGET648": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-648.json"
          },
          "CanCreateStandard2ServiceGET649": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-649.json"
          },
          "CanCreateStandard2ServiceGET650": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-650.json"
          },
          "CanCreateStandard2ServiceGET651": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-651.json"
          },
          "CanCreateStandard2ServiceGET652": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-652.json"
          },
          "CanCreateStandard2ServiceGET653": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-653.json"
          },
          "CanCreateStandard2ServiceGET654": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-654.json"
          },
          "CanCreateStandard2ServiceGET655": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-655.json"
          },
          "CanCreateStandard2ServiceGET656": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-656.json"
          },
          "CanCreateStandard2ServiceGET657": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-657.json"
          },
          "CanCreateStandard2ServiceGET658": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-658.json"
          },
          "CanCreateStandard2ServiceGET659": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-659.json"
          },
          "CanCreateStandard2ServiceGET660": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-660.json"
          },
          "CanCreateStandard2ServiceGET661": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-661.json"
          },
          "CanCreateStandard2ServiceGET662": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-662.json"
          },
          "CanCreateStandard2ServiceGET663": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-663.json"
          },
          "CanCreateStandard2ServiceGET664": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-664.json"
          },
          "CanCreateStandard2ServiceGET665": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-665.json"
          },
          "CanCreateStandard2ServiceGET666": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-666.json"
          },
          "CanCreateStandard2ServiceGET667": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-667.json"
          },
          "CanCreateStandard2ServiceGET668": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-668.json"
          },
          "CanCreateStandard2ServiceGET669": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-669.json"
          },
          "CanCreateStandard2ServiceGET670": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-670.json"
          },
          "CanCreateStandard2ServiceGET671": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-671.json"
          },
          "CanCreateStandard2ServiceGET672": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-672.json"
          },
          "CanCreateStandard2ServiceGET673": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-673.json"
          },
          "CanCreateStandard2ServiceGET674": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-674.json"
          },
          "CanCreateStandard2ServiceGET675": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-675.json"
          },
          "CanCreateStandard2ServiceGET676": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-676.json"
          },
          "CanCreateStandard2ServiceGET677": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-677.json"
          },
          "CanCreateStandard2ServiceGET678": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-678.json"
          },
          "CanCreateStandard2ServiceGET679": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-679.json"
          },
          "CanCreateStandard2ServiceGET680": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-680.json"
          },
          "CanCreateStandard2ServiceGET681": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-681.json"
          },
          "CanCreateStandard2ServiceGET682": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-682.json"
          },
          "CanCreateStandard2ServiceGET683": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-683.json"
          },
          "CanCreateStandard2ServiceGET684": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-684.json"
          },
          "CanCreateStandard2ServiceGET685": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-685.json"
          },
          "CanCreateStandard2ServiceGET686": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-686.json"
          },
          "CanCreateStandard2ServiceGET687": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-687.json"
          },
          "CanCreateStandard2ServiceGET688": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-688.json"
          },
          "CanCreateStandard2ServiceGET689": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-689.json"
          },
          "CanCreateStandard2ServiceGET690": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-690.json"
          },
          "CanCreateStandard2ServiceGET691": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-691.json"
          },
          "CanCreateStandard2ServiceGET692": {
            "$ref": "../examples/CanCreateStandard2Service-GET-example-692.json"
          },
          "CanCreateStandard3HighDensityServiceGET64": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-64.json"
          },
          "CanCreateStandard3HighDensityServiceGET65": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-65.json"
          },
          "CanCreateStandard3HighDensityServiceGET66": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-66.json"
          },
          "CanCreateStandard3HighDensityServiceGET67": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-67.json"
          },
          "CanCreateStandard3HighDensityServiceGET68": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-68.json"
          },
          "CanCreateStandard3HighDensityServiceGET69": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-69.json"
          },
          "CanCreateStandard3HighDensityServiceGET610": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-610.json"
          },
          "CanCreateStandard3HighDensityServiceGET611": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-611.json"
          },
          "CanCreateStandard3HighDensityServiceGET612": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-612.json"
          },
          "CanCreateStandard3HighDensityServiceGET613": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-613.json"
          },
          "CanCreateStandard3HighDensityServiceGET614": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-614.json"
          },
          "CanCreateStandard3HighDensityServiceGET615": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-615.json"
          },
          "CanCreateStandard3HighDensityServiceGET616": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-616.json"
          },
          "CanCreateStandard3HighDensityServiceGET617": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-617.json"
          },
          "CanCreateStandard3HighDensityServiceGET618": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-618.json"
          },
          "CanCreateStandard3HighDensityServiceGET619": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-619.json"
          },
          "CanCreateStandard3HighDensityServiceGET620": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-620.json"
          },
          "CanCreateStandard3HighDensityServiceGET621": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-621.json"
          },
          "CanCreateStandard3HighDensityServiceGET622": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-622.json"
          },
          "CanCreateStandard3HighDensityServiceGET623": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-623.json"
          },
          "CanCreateStandard3HighDensityServiceGET624": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-624.json"
          },
          "CanCreateStandard3HighDensityServiceGET625": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-625.json"
          },
          "CanCreateStandard3HighDensityServiceGET626": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-626.json"
          },
          "CanCreateStandard3HighDensityServiceGET627": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-627.json"
          },
          "CanCreateStandard3HighDensityServiceGET628": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-628.json"
          },
          "CanCreateStandard3HighDensityServiceGET629": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-629.json"
          },
          "CanCreateStandard3HighDensityServiceGET630": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-630.json"
          },
          "CanCreateStandard3HighDensityServiceGET631": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-631.json"
          },
          "CanCreateStandard3HighDensityServiceGET632": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-632.json"
          },
          "CanCreateStandard3HighDensityServiceGET633": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-633.json"
          },
          "CanCreateStandard3HighDensityServiceGET634": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-634.json"
          },
          "CanCreateStandard3HighDensityServiceGET635": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-635.json"
          },
          "CanCreateStandard3HighDensityServiceGET636": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-636.json"
          },
          "CanCreateStandard3HighDensityServiceGET637": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-637.json"
          },
          "CanCreateStandard3HighDensityServiceGET638": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-638.json"
          },
          "CanCreateStandard3HighDensityServiceGET639": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-639.json"
          },
          "CanCreateStandard3HighDensityServiceGET640": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-640.json"
          },
          "CanCreateStandard3HighDensityServiceGET641": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-641.json"
          },
          "CanCreateStandard3HighDensityServiceGET642": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-642.json"
          },
          "CanCreateStandard3HighDensityServiceGET643": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-643.json"
          },
          "CanCreateStandard3HighDensityServiceGET644": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-644.json"
          },
          "CanCreateStandard3HighDensityServiceGET645": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-645.json"
          },
          "CanCreateStandard3HighDensityServiceGET646": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-646.json"
          },
          "CanCreateStandard3HighDensityServiceGET647": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-647.json"
          },
          "CanCreateStandard3HighDensityServiceGET648": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-648.json"
          },
          "CanCreateStandard3HighDensityServiceGET649": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-649.json"
          },
          "CanCreateStandard3HighDensityServiceGET650": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-650.json"
          },
          "CanCreateStandard3HighDensityServiceGET651": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-651.json"
          },
          "CanCreateStandard3HighDensityServiceGET652": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-652.json"
          },
          "CanCreateStandard3HighDensityServiceGET653": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-653.json"
          },
          "CanCreateStandard3HighDensityServiceGET654": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-654.json"
          },
          "CanCreateStandard3HighDensityServiceGET655": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-655.json"
          },
          "CanCreateStandard3HighDensityServiceGET656": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-656.json"
          },
          "CanCreateStandard3HighDensityServiceGET657": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-657.json"
          },
          "CanCreateStandard3HighDensityServiceGET658": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-658.json"
          },
          "CanCreateStandard3HighDensityServiceGET659": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-659.json"
          },
          "CanCreateStandard3HighDensityServiceGET660": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-660.json"
          },
          "CanCreateStandard3HighDensityServiceGET661": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-661.json"
          },
          "CanCreateStandard3HighDensityServiceGET662": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-662.json"
          },
          "CanCreateStandard3HighDensityServiceGET663": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-663.json"
          },
          "CanCreateStandard3HighDensityServiceGET664": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-664.json"
          },
          "CanCreateStandard3HighDensityServiceGET665": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-665.json"
          },
          "CanCreateStandard3HighDensityServiceGET666": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-666.json"
          },
          "CanCreateStandard3HighDensityServiceGET667": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-667.json"
          },
          "CanCreateStandard3HighDensityServiceGET668": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-668.json"
          },
          "CanCreateStandard3HighDensityServiceGET669": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-669.json"
          },
          "CanCreateStandard3HighDensityServiceGET670": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-670.json"
          },
          "CanCreateStandard3HighDensityServiceGET671": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-671.json"
          },
          "CanCreateStandard3HighDensityServiceGET672": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-672.json"
          },
          "CanCreateStandard3HighDensityServiceGET673": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-673.json"
          },
          "CanCreateStandard3HighDensityServiceGET674": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-674.json"
          },
          "CanCreateStandard3HighDensityServiceGET675": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-675.json"
          },
          "CanCreateStandard3HighDensityServiceGET676": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-676.json"
          },
          "CanCreateStandard3HighDensityServiceGET677": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-677.json"
          },
          "CanCreateStandard3HighDensityServiceGET678": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-678.json"
          },
          "CanCreateStandard3HighDensityServiceGET679": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-679.json"
          },
          "CanCreateStandard3HighDensityServiceGET680": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-680.json"
          },
          "CanCreateStandard3HighDensityServiceGET681": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-681.json"
          },
          "CanCreateStandard3HighDensityServiceGET682": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-682.json"
          },
          "CanCreateStandard3HighDensityServiceGET683": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-683.json"
          },
          "CanCreateStandard3HighDensityServiceGET684": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-684.json"
          },
          "CanCreateStandard3HighDensityServiceGET685": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-685.json"
          },
          "CanCreateStandard3HighDensityServiceGET686": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-686.json"
          },
          "CanCreateStandard3HighDensityServiceGET687": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-687.json"
          },
          "CanCreateStandard3HighDensityServiceGET688": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-688.json"
          },
          "CanCreateStandard3HighDensityServiceGET689": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-689.json"
          },
          "CanCreateStandard3HighDensityServiceGET690": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-690.json"
          },
          "CanCreateStandard3HighDensityServiceGET691": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-691.json"
          },
          "CanCreateStandard3HighDensityServiceGET692": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-692.json"
          },
          "CanCreateStandard3HighDensityServiceGET693": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-693.json"
          },
          "CanCreateStandard3HighDensityServiceGET694": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-694.json"
          },
          "CanCreateStandard3HighDensityServiceGET695": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-695.json"
          },
          "CanCreateStandard3HighDensityServiceGET696": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-696.json"
          },
          "CanCreateStandard3HighDensityServiceGET697": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-697.json"
          },
          "CanCreateStandard3HighDensityServiceGET698": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-698.json"
          },
          "CanCreateStandard3HighDensityServiceGET699": {
            "$ref": "../examples/CanCreateStandard3HighDensityService-GET-example-699.json"
          },
          "CanCreateStandard3ServiceGET64": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-64.json"
          },
          "CanCreateStandard3ServiceGET65": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-65.json"
          },
          "CanCreateStandard3ServiceGET66": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-66.json"
          },
          "CanCreateStandard3ServiceGET67": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-67.json"
          },
          "CanCreateStandard3ServiceGET68": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-68.json"
          },
          "CanCreateStandard3ServiceGET69": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-69.json"
          },
          "CanCreateStandard3ServiceGET610": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-610.json"
          },
          "CanCreateStandard3ServiceGET611": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-611.json"
          },
          "CanCreateStandard3ServiceGET612": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-612.json"
          },
          "CanCreateStandard3ServiceGET613": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-613.json"
          },
          "CanCreateStandard3ServiceGET614": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-614.json"
          },
          "CanCreateStandard3ServiceGET615": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-615.json"
          },
          "CanCreateStandard3ServiceGET616": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-616.json"
          },
          "CanCreateStandard3ServiceGET617": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-617.json"
          },
          "CanCreateStandard3ServiceGET618": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-618.json"
          },
          "CanCreateStandard3ServiceGET619": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-619.json"
          },
          "CanCreateStandard3ServiceGET620": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-620.json"
          },
          "CanCreateStandard3ServiceGET621": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-621.json"
          },
          "CanCreateStandard3ServiceGET622": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-622.json"
          },
          "CanCreateStandard3ServiceGET623": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-623.json"
          },
          "CanCreateStandard3ServiceGET624": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-624.json"
          },
          "CanCreateStandard3ServiceGET625": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-625.json"
          },
          "CanCreateStandard3ServiceGET626": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-626.json"
          },
          "CanCreateStandard3ServiceGET627": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-627.json"
          },
          "CanCreateStandard3ServiceGET628": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-628.json"
          },
          "CanCreateStandard3ServiceGET629": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-629.json"
          },
          "CanCreateStandard3ServiceGET630": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-630.json"
          },
          "CanCreateStandard3ServiceGET631": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-631.json"
          },
          "CanCreateStandard3ServiceGET632": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-632.json"
          },
          "CanCreateStandard3ServiceGET633": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-633.json"
          },
          "CanCreateStandard3ServiceGET634": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-634.json"
          },
          "CanCreateStandard3ServiceGET635": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-635.json"
          },
          "CanCreateStandard3ServiceGET636": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-636.json"
          },
          "CanCreateStandard3ServiceGET637": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-637.json"
          },
          "CanCreateStandard3ServiceGET638": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-638.json"
          },
          "CanCreateStandard3ServiceGET639": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-639.json"
          },
          "CanCreateStandard3ServiceGET640": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-640.json"
          },
          "CanCreateStandard3ServiceGET641": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-641.json"
          },
          "CanCreateStandard3ServiceGET642": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-642.json"
          },
          "CanCreateStandard3ServiceGET643": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-643.json"
          },
          "CanCreateStandard3ServiceGET644": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-644.json"
          },
          "CanCreateStandard3ServiceGET645": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-645.json"
          },
          "CanCreateStandard3ServiceGET646": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-646.json"
          },
          "CanCreateStandard3ServiceGET647": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-647.json"
          },
          "CanCreateStandard3ServiceGET648": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-648.json"
          },
          "CanCreateStandard3ServiceGET649": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-649.json"
          },
          "CanCreateStandard3ServiceGET650": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-650.json"
          },
          "CanCreateStandard3ServiceGET651": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-651.json"
          },
          "CanCreateStandard3ServiceGET652": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-652.json"
          },
          "CanCreateStandard3ServiceGET653": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-653.json"
          },
          "CanCreateStandard3ServiceGET654": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-654.json"
          },
          "CanCreateStandard3ServiceGET655": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-655.json"
          },
          "CanCreateStandard3ServiceGET656": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-656.json"
          },
          "CanCreateStandard3ServiceGET657": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-657.json"
          },
          "CanCreateStandard3ServiceGET658": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-658.json"
          },
          "CanCreateStandard3ServiceGET659": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-659.json"
          },
          "CanCreateStandard3ServiceGET660": {
            "$ref": "../examples/CanCreateStandard3Service-GET-example-660.json"
          },
[...]
