{
  "swagger": "2.0",
  "info": {
    "version": "2015-01-14-preview",
    "title": "IntuneResourceManagementClient",
    "description": "Microsoft.Intune Resource provider Api features in the swagger-2.0 specification"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Intune/locations": {
      "get": {
        "description": "Returns location for user tenant.",
        "operationId": "GetLocations",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "location response as a collection",
            "schema": {
              "$ref": "#/definitions/LocationCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        }
      }
    },
    "/providers/Microsoft.Intune/locations/hostName": {
      "get": {
        "description": "Returns location for given tenant.",
        "operationId": "GetLocationByHostName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "single location response",
            "schema": {
              "$ref": "#/definitions/Location"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMAppForPolicyGET21": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMAppForPolicy-GET-example-21.json"
          },
          "ShouldAddAndRemoveiOSMAMAppForPolicyGET21": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMAppForPolicy-GET-example-21.json"
          },
          "ShouldGetAndroidMAMAppsGET21": {
            "$ref": "../examples/ShouldGetAndroidMAMApps-GET-example-21.json"
          },
          "ShouldGetiOSMAMAppsGET21": {
            "$ref": "../examples/ShouldGetiOSMAMApps-GET-example-21.json"
          },
          "ShouldGetDefaultStatusesGET21": {
            "$ref": "../examples/ShouldGetDefaultStatuses-GET-example-21.json"
          },
          "ShouldGetFlaggedEnrolledAppsGET21": {
            "$ref": "../examples/ShouldGetFlaggedEnrolledApps-GET-example-21.json"
          },
          "ShouldGetFlaggedUserByNameGET21": {
            "$ref": "../examples/ShouldGetFlaggedUserByName-GET-example-21.json"
          },
          "ShouldGetFlaggedUsersGET21": {
            "$ref": "../examples/ShouldGetFlaggedUsers-GET-example-21.json"
          },
          "ShouldAddAndRemoveAndroidMAMGroupsForPolicyGET21": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMGroupsForPolicy-GET-example-21.json"
          },
          "ShouldAddAndRemoveiOSMAMGroupsForPolicyGET21": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMGroupsForPolicy-GET-example-21.json"
          },
          "ShouldCreateAndroidPolicyWithDefaultsGET21": {
            "$ref": "../examples/ShouldCreateAndroidPolicyWithDefaults-GET-example-21.json"
          },
          "ShouldCreateiOSPolicyWithDefaultsGET21": {
            "$ref": "../examples/ShouldCreateiOSPolicyWithDefaults-GET-example-21.json"
          },
          "ShouldGetMultipleAndroidPoliciesGET21": {
            "$ref": "../examples/ShouldGetMultipleAndroidPolicies-GET-example-21.json"
          },
          "ShouldGetMultipleiOSPoliciesGET21": {
            "$ref": "../examples/ShouldGetMultipleiOSPolicies-GET-example-21.json"
          },
          "ShouldPatchAndroidPolicyGET21": {
            "$ref": "../examples/ShouldPatchAndroidPolicy-GET-example-21.json"
          },
          "ShouldPatchiOSPolicyGET21": {
            "$ref": "../examples/ShouldPatchiOSPolicy-GET-example-21.json"
          },
          "ShouldWipeDevicesGET21": {
            "$ref": "../examples/ShouldWipeDevices-GET-example-21.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/apps": {
      "get": {
        "description": "Returns Intune Manageable apps.",
        "operationId": "GetApps",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "applications as collection response",
            "schema": {
              "$ref": "#/definitions/ApplicationCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMAppForPolicyGET33": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMAppForPolicy-GET-example-33.json"
          },
          "ShouldAddAndRemoveiOSMAMAppForPolicyGET33": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMAppForPolicy-GET-example-33.json"
          },
          "ShouldGetAndroidMAMAppsGET32": {
            "$ref": "../examples/ShouldGetAndroidMAMApps-GET-example-32.json"
          },
          "ShouldGetiOSMAMAppsGET32": {
            "$ref": "../examples/ShouldGetiOSMAMApps-GET-example-32.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies": {
      "get": {
        "description": "Returns Intune iOSPolicies.",
        "operationId": "Ios_GetMAMPolicies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "applications as collection response",
            "schema": {
              "$ref": "#/definitions/IOSMAMPolicyCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldGetMultipleiOSPoliciesGET44": {
            "$ref": "../examples/ShouldGetMultipleiOSPolicies-GET-example-44.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies": {
      "get": {
        "description": "Returns Intune Android policies.",
        "operationId": "Android_GetMAMPolicies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "android Policies response",
            "schema": {
              "$ref": "#/definitions/AndroidMAMPolicyCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldGetMultipleAndroidPoliciesGET54": {
            "$ref": "../examples/ShouldGetMultipleAndroidPolicies-GET-example-54.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}": {
      "get": {
        "description": "Returns Intune iOS policies.",
        "operationId": "Ios_GetMAMPolicyByName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "iOSMAMPolicy entity.",
            "schema": {
              "$ref": "#/definitions/iOSMAMPolicy"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldCreateiOSPolicyWithDefaultsGET63": {
            "$ref": "../examples/ShouldCreateiOSPolicyWithDefaults-GET-example-63.json"
          },
          "ShouldPatchiOSPolicyGET64": {
            "$ref": "../examples/ShouldPatchiOSPolicy-GET-example-64.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates iOSMAMPolicy.",
        "operationId": "Ios_CreateOrUpdateMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/iOSMAMPolicy"
            },
            "description": "Parameters supplied to the Create or update an android policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "iOSMAMPolicy entity.",
            "schema": {
              "$ref": "#/definitions/iOSMAMPolicy"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveiOSMAMAppForPolicyPUT62": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMAppForPolicy-PUT-example-62.json"
          },
          "ShouldAddAndRemoveiOSMAMGroupsForPolicyPUT62": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMGroupsForPolicy-PUT-example-62.json"
          },
          "ShouldCreateiOSPolicyWithDefaultsPUT62": {
            "$ref": "../examples/ShouldCreateiOSPolicyWithDefaults-PUT-example-62.json"
          },
          "ShouldGetMultipleiOSPoliciesPUT62": {
            "$ref": "../examples/ShouldGetMultipleiOSPolicies-PUT-example-62.json"
          },
          "ShouldGetMultipleiOSPoliciesPUT63": {
            "$ref": "../examples/ShouldGetMultipleiOSPolicies-PUT-example-63.json"
          },
          "ShouldPatchiOSPolicyPUT62": {
            "$ref": "../examples/ShouldPatchiOSPolicy-PUT-example-62.json"
          }
        }
      },
      "patch": {
        "description": " patch an iOSMAMPolicy.",
        "operationId": "Ios_PatchMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/iOSMAMPolicy"
            },
            "description": "Parameters supplied to the Create or update an android policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "iOSMAMPolicy entity.",
            "schema": {
              "$ref": "#/definitions/iOSMAMPolicy"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldPatchiOSPolicyPATCH63": {
            "$ref": "../examples/ShouldPatchiOSPolicy-PATCH-example-63.json"
          }
        }
      },
      "delete": {
        "description": "Delete Ios Policy",
        "operationId": "Ios_DeleteMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveiOSMAMAppForPolicyDELETE68": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMAppForPolicy-DELETE-example-68.json"
          },
          "ShouldAddAndRemoveiOSMAMGroupsForPolicyDELETE67": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMGroupsForPolicy-DELETE-example-67.json"
          },
          "ShouldCreateiOSPolicyWithDefaultsDELETE64": {
            "$ref": "../examples/ShouldCreateiOSPolicyWithDefaults-DELETE-example-64.json"
          },
          "ShouldGetMultipleiOSPoliciesDELETE65": {
            "$ref": "../examples/ShouldGetMultipleiOSPolicies-DELETE-example-65.json"
          },
          "ShouldGetMultipleiOSPoliciesDELETE66": {
            "$ref": "../examples/ShouldGetMultipleiOSPolicies-DELETE-example-66.json"
          },
          "ShouldPatchiOSPolicyDELETE65": {
            "$ref": "../examples/ShouldPatchiOSPolicy-DELETE-example-65.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}": {
      "get": {
        "description": "Returns AndroidMAMPolicy with given name.",
        "operationId": "Android_GetMAMPolicyByName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "iOSMAMPolicy entity.",
            "schema": {
              "$ref": "#/definitions/AndroidMAMPolicy"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldCreateAndroidPolicyWithDefaultsGET73": {
            "$ref": "../examples/ShouldCreateAndroidPolicyWithDefaults-GET-example-73.json"
          },
          "ShouldPatchAndroidPolicyGET74": {
            "$ref": "../examples/ShouldPatchAndroidPolicy-GET-example-74.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates AndroidMAMPolicy.",
        "operationId": "Android_CreateOrUpdateMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AndroidMAMPolicy"
            },
            "description": "Parameters supplied to the Create or update an android policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "android entity.",
            "schema": {
              "$ref": "#/definitions/AndroidMAMPolicy"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMAppForPolicyPUT72": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMAppForPolicy-PUT-example-72.json"
          },
          "ShouldAddAndRemoveAndroidMAMGroupsForPolicyPUT72": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMGroupsForPolicy-PUT-example-72.json"
          },
          "ShouldCreateAndroidPolicyWithDefaultsPUT72": {
            "$ref": "../examples/ShouldCreateAndroidPolicyWithDefaults-PUT-example-72.json"
          },
          "ShouldGetMultipleAndroidPoliciesPUT72": {
            "$ref": "../examples/ShouldGetMultipleAndroidPolicies-PUT-example-72.json"
          },
          "ShouldGetMultipleAndroidPoliciesPUT73": {
            "$ref": "../examples/ShouldGetMultipleAndroidPolicies-PUT-example-73.json"
          },
          "ShouldPatchAndroidPolicyPUT72": {
            "$ref": "../examples/ShouldPatchAndroidPolicy-PUT-example-72.json"
          }
        }
      },
      "patch": {
        "description": "Patch AndroidMAMPolicy.",
        "operationId": "Android_PatchMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AndroidMAMPolicy"
            },
            "description": "Parameters supplied to the Create or update an android policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "android entity.",
            "schema": {
              "$ref": "#/definitions/AndroidMAMPolicy"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldPatchAndroidPolicyPATCH73": {
            "$ref": "../examples/ShouldPatchAndroidPolicy-PATCH-example-73.json"
          }
        }
      },
      "delete": {
        "description": "Delete Android Policy",
        "operationId": "Android_DeleteMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMAppForPolicyDELETE78": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMAppForPolicy-DELETE-example-78.json"
          },
          "ShouldAddAndRemoveAndroidMAMGroupsForPolicyDELETE77": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMGroupsForPolicy-DELETE-example-77.json"
          },
          "ShouldCreateAndroidPolicyWithDefaultsDELETE74": {
            "$ref": "../examples/ShouldCreateAndroidPolicyWithDefaults-DELETE-example-74.json"
          },
          "ShouldGetMultipleAndroidPoliciesDELETE75": {
            "$ref": "../examples/ShouldGetMultipleAndroidPolicies-DELETE-example-75.json"
          },
          "ShouldGetMultipleAndroidPoliciesDELETE76": {
            "$ref": "../examples/ShouldGetMultipleAndroidPolicies-DELETE-example-76.json"
          },
          "ShouldPatchAndroidPolicyDELETE75": {
            "$ref": "../examples/ShouldPatchAndroidPolicy-DELETE-example-75.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps": {
      "get": {
        "description": "Get apps for an iOSMAMPolicy.",
        "operationId": "Ios_GetAppForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "applications as collection response",
            "schema": {
              "$ref": "#/definitions/ApplicationCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveiOSMAMAppForPolicyGET85": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMAppForPolicy-GET-example-85.json"
          },
          "ShouldAddAndRemoveiOSMAMAppForPolicyGET86": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMAppForPolicy-GET-example-86.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/AndroidPolicies/{policyName}/apps": {
      "get": {
        "description": "Get apps for an AndroidMAMPolicy.",
        "operationId": "Android_GetAppForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "applications as collection response",
            "schema": {
              "$ref": "#/definitions/ApplicationCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMAppForPolicyGET95": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMAppForPolicy-GET-example-95.json"
          },
          "ShouldAddAndRemoveAndroidMAMAppForPolicyGET96": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMAppForPolicy-GET-example-96.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/apps/{appName}": {
      "put": {
        "description": "Add app to an iOSMAMPolicy.",
        "operationId": "Ios_AddAppForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "name": "appName",
            "in": "path",
            "description": "application unique Name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MAMPolicyAppIdOrGroupIdPayload"
            },
            "description": "Parameters supplied to add an app to an ios policy."
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveiOSMAMAppForPolicyPUT104": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMAppForPolicy-PUT-example-104.json"
          }
        }
      },
      "delete": {
        "description": "Delete App for Ios Policy",
        "operationId": "Ios_DeleteAppForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "name": "appName",
            "in": "path",
            "description": "application unique Name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveiOSMAMAppForPolicyDELETE107": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMAppForPolicy-DELETE-example-107.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/apps/{appName}": {
      "put": {
        "description": "Add app to an AndroidMAMPolicy.",
        "operationId": "Android_AddAppForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "name": "appName",
            "in": "path",
            "description": "application unique Name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MAMPolicyAppIdOrGroupIdPayload"
            },
            "description": "Parameters supplied to the Create or update app to an android policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMAppForPolicyPUT114": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMAppForPolicy-PUT-example-114.json"
          }
        }
      },
      "delete": {
        "description": "Delete App for Android Policy",
        "operationId": "Android_DeleteAppForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "name": "appName",
            "in": "path",
            "description": "application unique Name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMAppForPolicyDELETE117": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMAppForPolicy-DELETE-example-117.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups": {
      "get": {
        "description": "Returns groups for a given iOSMAMPolicy.",
        "operationId": "Ios_GetGroupsForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "policy name for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "groups as collection response",
            "schema": {
              "$ref": "#/definitions/GroupsCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveiOSMAMGroupsForPolicyGET124": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMGroupsForPolicy-GET-example-124.json"
          },
          "ShouldAddAndRemoveiOSMAMGroupsForPolicyGET125": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMGroupsForPolicy-GET-example-125.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups": {
      "get": {
        "description": "Returns groups for a given AndroidMAMPolicy.",
        "operationId": "Android_GetGroupsForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "policy name for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "groups as collection response",
            "schema": {
              "$ref": "#/definitions/GroupsCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMGroupsForPolicyGET134": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMGroupsForPolicy-GET-example-134.json"
          },
          "ShouldAddAndRemoveAndroidMAMGroupsForPolicyGET135": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMGroupsForPolicy-GET-example-135.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/iosPolicies/{policyName}/groups/{groupId}": {
      "put": {
        "description": "Add group to an iOSMAMPolicy.",
        "operationId": "Ios_AddGroupForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "group Id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MAMPolicyAppIdOrGroupIdPayload"
            },
            "description": "Parameters supplied to the Create or update app to an android policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveiOSMAMGroupsForPolicyPUT143": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMGroupsForPolicy-PUT-example-143.json"
          }
        }
      },
      "delete": {
        "description": "Delete Group for iOS Policy",
        "operationId": "Ios_DeleteGroupForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "application unique Name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveiOSMAMGroupsForPolicyDELETE146": {
            "$ref": "../examples/ShouldAddAndRemoveiOSMAMGroupsForPolicy-DELETE-example-146.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/androidPolicies/{policyName}/groups/{groupId}": {
      "put": {
        "description": "Add group to an AndroidMAMPolicy.",
        "operationId": "Android_AddGroupForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "group Id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MAMPolicyAppIdOrGroupIdPayload"
            },
            "description": "Parameters supplied to the Create or update app to an android policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMGroupsForPolicyPUT153": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMGroupsForPolicy-PUT-example-153.json"
          }
        }
      },
      "delete": {
        "description": "Delete Group for Android Policy",
        "operationId": "Android_DeleteGroupForMAMPolicy",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Unique name for the policy",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "application unique Name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "No-Content."
          },
          "204": {
            "description": "No-Content."
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldAddAndRemoveAndroidMAMGroupsForPolicyDELETE156": {
            "$ref": "../examples/ShouldAddAndRemoveAndroidMAMGroupsForPolicy-DELETE-example-156.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices": {
      "get": {
        "description": "Get devices for a user.",
        "operationId": "GetMAMUserDevices",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "user unique Name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "devices as collection response",
            "schema": {
              "$ref": "#/definitions/DeviceCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldWipeDevicesGET162": {
            "$ref": "../examples/ShouldWipeDevices-GET-example-162.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}": {
      "get": {
        "description": "Get a unique device for a user.",
        "operationId": "GetMAMUserDeviceByDeviceName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "unique user name",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "device name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "Device entity.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/users/{userName}/devices/{deviceName}/wipe": {
      "post": {
        "description": "Wipe a device for a user.",
        "operationId": "WipeMAMUserDevice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "unique user name",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "device name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Wipe operation result.",
            "schema": {
              "$ref": "#/definitions/WipeDeviceOperationResult"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldWipeDevicesPOST183": {
            "$ref": "../examples/ShouldWipeDevices-POST-example-183.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/operationResults": {
      "get": {
        "description": "Returns operationResults.",
        "operationId": "GetOperationResults",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "applications as collection response",
            "schema": {
              "$ref": "#/definitions/OperationResultCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldWipeDevicesGET194": {
            "$ref": "../examples/ShouldWipeDevices-GET-example-194.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/statuses/default": {
      "get": {
        "description": "Returns Intune Tenant level statuses.",
        "operationId": "GetMAMStatuses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "applications as collection response",
            "schema": {
              "$ref": "#/definitions/StatusesDefault"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldGetDefaultStatusesGET202": {
            "$ref": "../examples/ShouldGetDefaultStatuses-GET-example-202.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers": {
      "get": {
        "description": "Returns Intune flagged user collection",
        "operationId": "GetMAMFlaggedUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "Flagged users as collection response",
            "schema": {
              "$ref": "#/definitions/FlaggedUserCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldGetFlaggedEnrolledAppsGET212": {
            "$ref": "../examples/ShouldGetFlaggedEnrolledApps-GET-example-212.json"
          },
          "ShouldGetFlaggedUserByNameGET212": {
            "$ref": "../examples/ShouldGetFlaggedUserByName-GET-example-212.json"
          },
          "ShouldGetFlaggedUsersGET212": {
            "$ref": "../examples/ShouldGetFlaggedUsers-GET-example-212.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}": {
      "get": {
        "description": "Returns Intune flagged user details",
        "operationId": "GetMAMFlaggedUserByName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "Flagged userName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "Flagged user details in response",
            "schema": {
              "$ref": "#/definitions/FlaggedUser"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "ShouldGetFlaggedUserByNameGET223": {
            "$ref": "../examples/ShouldGetFlaggedUserByName-GET-example-223.json"
          }
        }
      }
    },
    "/providers/Microsoft.Intune/locations/{hostName}/flaggedUsers/{userName}/flaggedEnrolledApps": {
      "get": {
        "description": "Returns Intune flagged enrolled app collection for the User",
        "operationId": "GetMAMUserFlaggedEnrolledApps",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "hostName",
            "in": "path",
            "description": "Location hostName for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "User name for the tenant",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "select specific fields in entity."
          }
        ],
        "responses": {
          "200": {
            "description": "Flagged enrolled Apps as collection response",
            "schema": {
              "$ref": "#/definitions/FlaggedEnrolledAppCollection"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextlink"
        },
        "x-ms-examples": {
          "ShouldGetFlaggedEnrolledAppsGET233": {
            "$ref": "../examples/ShouldGetFlaggedEnrolledApps-GET-example-233.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource Tags"
        },
        "location": {
          "type": "string",
          "description": "Resource Location"
        }
      }
    },
    "Location": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LocationProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Location entity for given tenant."
    },
    "LocationProperties": {
      "required": [
        "hostName"
      ],
      "properties": {
        "hostName": {
          "type": "string"
        }
      }
    },
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "LocationCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "GroupsCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupItem"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "GroupItem": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GroupProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Group entity for Intune MAM."
    },
    "GroupProperties": {
      "required": [
        "friendlyName",
        "platform"
      ],
      "properties": {
        "friendlyName": {
          "type": "string"
        }
      }
    },
    "ApplicationCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Application"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "Application": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Application entity for Intune MAM."
    },
    "ApplicationProperties": {
      "required": [
        "friendlyName",
        "platform"
      ],
      "properties": {
        "friendlyName": {
          "type": "string"
        },
        "platform": {
          "type": "string",
          "default": "ios",
          "enum": [
            "ios",
            "android",
            "windows"
          ]
        },
        "appId": {
          "type": "string"
        }
      }
    },
    "IOSMAMPolicyCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/iOSMAMPolicy"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "AndroidMAMPolicyCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AndroidMAMPolicy"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "iOSMAMPolicy": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/iOSMAMPolicyProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "iOS Policy entity for Intune MAM."
    },
    "AndroidMAMPolicy": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AndroidMAMPolicyProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Android Policy entity for Intune MAM."
    },
    "MAMPolicyAppIdOrGroupIdPayload": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/MAMPolicyAppOrGroupIdProperties"
        }
      },
      "description": "MAM Policy request body for properties Intune MAM."
    },
    "MAMPolicyAppOrGroupIdProperties": {
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string"
        }
      },
      "description": "Android Policy request body for Intune MAM."
    },
    "MAMPolicyProperties": {
      "required": [
        "friendlyName"
      ],
      "properties": {
        "friendlyName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "appSharingFromLevel": {
          "type": "string",
          "default": "none",
          "enum": [
            "none",
            "policyManagedApps",
            "allApps"
          ]
        },
        "appSharingToLevel": {
          "type": "string",
          "default": "none",
          "enum": [
            "none",
            "policyManagedApps",
            "allApps"
          ]
        },
        "authentication": {
          "type": "string",
          "default": "required",
          "enum": [
            "required",
            "notRequired"
          ]
        },
        "clipboardSharingLevel": {
          "type": "string",
          "default": "blocked",
          "enum": [
            "blocked",
            "policyManagedApps",
            "policyManagedAppsWithPasteIn",
            "allApps"
          ]
        },
        "dataBackup": {
          "type": "string",
          "default": "allow",
          "enum": [
            "allow",
            "block"
          ]
        },
        "fileSharingSaveAs": {
          "type": "string",
          "default": "allow",
          "enum": [
            "allow",
            "block"
          ]
        },
        "pin": {
          "type": "string",
          "default": "required",
          "enum": [
            "required",
            "notRequired"
          ]
        },
        "pinNumRetry": {
          "type": "integer"
        },
        "deviceCompliance": {
          "type": "string",
          "default": "enable",
          "enum": [
            "enable",
            "disable"
          ]
        },
        "managedBrowser": {
          "type": "string",
          "default": "required",
          "enum": [
            "required",
            "notRequired"
          ]
        },
        "accessRecheckOfflineTimeout": {
          "type": "string",
          "format": "duration"
        },
        "accessRecheckOnlineTimeout": {
          "type": "string",
          "format": "duration"
        },
        "offlineWipeTimeout": {
          "type": "string",
          "format": "duration"
        },
        "numOfApps": {
          "type": "integer",
          "readOnly": true
        },
        "groupStatus": {
          "readOnly": true,
          "type": "string",
          "default": "notTargeted",
          "enum": [
            "notTargeted",
            "targeted"
          ]
        },
        "lastModifiedTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        }
      }
    },
    "iOSMAMPolicyProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/MAMPolicyProperties"
        }
      ],
      "properties": {
        "fileEncryptionLevel": {
          "type": "string",
          "default": "deviceLocked",
          "enum": [
            "deviceLocked",
            "deviceLockedExceptFilesOpen",
            "afterDeviceRestart",
            "useDeviceSettings"
          ]
        },
        "touchId": {
          "type": "string",
          "default": "enable",
          "enum": [
            "enable",
            "disable"
          ]
        }
      },
      "description": "Intune MAM iOS Policy Properties."
    },
    "AndroidMAMPolicyProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/MAMPolicyProperties"
        }
      ],
      "properties": {
        "screenCapture": {
          "type": "string",
          "default": "allow",
          "enum": [
            "allow",
            "block"
          ]
        },
        "fileEncryption": {
          "type": "string",
          "default": "required",
          "enum": [
            "required",
            "notRequired"
          ]
        }
      },
      "description": "Intune MAM iOS Policy Properties."
    },
    "DeviceCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Device"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "Device": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DeviceProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Device entity for Intune."
    },
    "DeviceProperties": {
      "required": [
        "userId",
        "friendlyName",
        "platform",
        "platformVersion",
        "deviceType"
      ],
      "properties": {
        "userId": {
          "type": "string"
        },
        "friendlyName": {
          "type": "string"
        },
        "platform": {
          "type": "string"
        },
        "platformVersion": {
          "type": "string"
        },
        "deviceType": {
          "type": "string"
        }
      }
    },
    "WipeDeviceOperationResult": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WipeDeviceOperationResultProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Device entity for Intune."
    },
    "WipeDeviceOperationResultProperties": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string"
        }
      }
    },
    "OperationResultCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationResult"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      }
    },
    "OperationResult": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationResultProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "OperationResult entity for Intune."
    },
    "OperationResultProperties": {
      "required": [
        "userId",
        "friendlyName",
        "platform",
        "operationMetadata"
      ],
      "properties": {
        "friendlyName": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "lastModifiedTime": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "operationMetadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/operationMetadataProperties"
          }
        }
      }
    },
    "operationMetadataProperties": {
      "required": [
        "name",
        "value"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "StatusesDefault": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/StatusesProperties"
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Default Statuses entity for the given tenant."
    },
    "StatusesProperties": {
      "properties": {
        "deployedPolicies": {
          "type": "integer",
          "readOnly": true
        },
        "enrolledUsers": {
          "type": "integer",
          "readOnly": true
        },
        "flaggedUsers": {
          "type": "integer",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "policyAppliedUsers": {
          "type": "integer",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "readOnly": true
        },
        "wipeFailedApps": {
          "type": "integer",
          "readOnly": true
        },
        "wipePendingApps": {
          "type": "integer",
          "readOnly": true
        },
        "wipeSucceededApps": {
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "FlaggedUserCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlaggedUser"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Flagged user collection for the given tenant."
    },
    "FlaggedUser": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FlaggedUserProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Flagged user for the given tenant."
    },
    "FlaggedUserProperties": {
      "properties": {
        "errorCount": {
          "type": "integer",
          "readOnly": true
        },
        "friendlyName": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FlaggedEnrolledAppCollection": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlaggedEnrolledApp"
          }
        },
        "nextlink": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Flagged Enrolled App collection for the given tenant."
    },
    "FlaggedEnrolledApp": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FlaggedEnrolledAppProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Flagged Enrolled App for the given tenant."
    },
    "FlaggedEnrolledAppProperties": {
      "properties": {
        "deviceType": {
          "type": "string",
          "readOnly": true
        },
        "friendlyName": {
          "type": "string",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "readOnly": true
        },
        "platform": {
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlaggedEnrolledAppError"
          }
        }
      }
    },
    "FlaggedEnrolledAppError": {
      "properties": {
        "errorCode": {
          "type": "string",
          "readOnly": true
        },
        "severity": {
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Service Api Version."
    }
  }
}