{
  "swagger": "2.0",
  "info": {
    "title": "NotificationHubsManagementClient",
    "description": "Azure NotificationHub client",
    "version": "2016-03-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_CheckAvailability",
        "description": "Checks the availability of the given service namespace across all Azure subscriptions. This is useful because the domain name is created based on the service namespace name.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityParameters"
            },
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Checks if the Namespace name is a valid availabile name",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResult"
            }
          }
        },
        "x-ms-examples": {
          "CheckNamespaceNameAvailabilityTestPOST11": {
            "$ref": "../examples/CheckNamespaceNameAvailabilityTest-POST-example-11.json"
          },
          "CheckNamespaceNameAvailabilityTestPOST12": {
            "$ref": "../examples/CheckNamespaceNameAvailabilityTest-POST-example-12.json"
          },
          "CheckNamespaceNameAvailabilityTestPOST13": {
            "$ref": "../examples/CheckNamespaceNameAvailabilityTest-POST-example-13.json"
          },
          "CheckNotificationHubNameAvailabilityPOST11": {
            "$ref": "../examples/CheckNotificationHubNameAvailability-POST-example-11.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}": {
      "put": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_CreateOrUpdate",
        "description": "Creates/Updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespaceCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to create a Namespace Resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is Create/Update",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          },
          "201": {
            "description": "Namespace is Create/Update",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        },
        "x-ms-examples": {
          "CheckNamespaceNameAvailabilityTestPUT26": {
            "$ref": "../examples/CheckNamespaceNameAvailabilityTest-PUT-example-26.json"
          },
          "CheckNotificationHubNameAvailabilityPUT24": {
            "$ref": "../examples/CheckNotificationHubNameAvailability-PUT-example-24.json"
          },
          "NamespaceCreateGetUpdateDeletePUT23": {
            "$ref": "../examples/NamespaceCreateGetUpdateDelete-PUT-example-23.json"
          },
          "NamespaceCreateGetUpdateDeletePUT24": {
            "$ref": "../examples/NamespaceCreateGetUpdateDelete-PUT-example-24.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesPUT23": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-PUT-example-23.json"
          },
          "NotificationHubCreateGetUpdateDeletePUT23": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-PUT-example-23.json"
          },
          "NotificationHubCreateGetUpdateDeleteAuthorizationRulesPUT23": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDeleteAuthorizationRules-PUT-example-23.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_Patch",
        "description": "Patches the existing namespace",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespacePatchParameters"
            },
            "description": "Parameters supplied to patch a Namespace Resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is Updated",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        },
        "x-ms-examples": {
          "NamespaceCreateGetUpdateDeletePATCH211": {
            "$ref": "../examples/NamespaceCreateGetUpdateDelete-PATCH-example-211.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_Delete",
        "description": "Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Namespace is deleted"
          },
          "202": {
            "description": "Namespace delete request has been accepted"
          },
          "204": {
            "description": "Namespace is already Deleted"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CheckNamespaceNameAvailabilityTestDELETE27": {
            "$ref": "../examples/CheckNamespaceNameAvailabilityTest-DELETE-example-27.json"
          },
          "CheckNotificationHubNameAvailabilityDELETE28": {
            "$ref": "../examples/CheckNotificationHubNameAvailability-DELETE-example-28.json"
          },
          "NamespaceCreateGetUpdateDeleteDELETE212": {
            "$ref": "../examples/NamespaceCreateGetUpdateDelete-DELETE-example-212.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesDELETE2322": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-DELETE-example-2322.json"
          },
          "NotificationHubCreateGetUpdateDeleteDELETE2337": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-DELETE-example-2337.json"
          },
          "NotificationHubCreateGetUpdateDeleteAuthorizationRulesDELETE2272": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDeleteAuthorizationRules-DELETE-example-2272.json"
          }
        }
      },
      "get": {
        "tags": [
          "Namespaces"
        ],
        "operationId": "Namespaces_Get",
        "description": "Returns the description for the specified namespace.",
        "externalDocs": {
          "url": "http://msdn.microsoft.com/library/azure/dn140232.aspx"
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "namespaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace name."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Namespace",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        },
        "x-ms-examples": {
          "NamespaceCreateGetUpdateDeleteGET25": {
            "$ref": "../examples/NamespaceCreateGetUpdateDelete-GET-example-25.json"
          },
          "NamespaceCreateGetUpdateDeleteGET26": {
            "$ref": "../examples/NamespaceCreateGetUpdateDelete-GET-example-26.json"
          },
          "NamespaceCreateGetUpdateDeleteGET27": {
            "$ref": "../examples/NamespaceCreateGetUpdateDelete-GET-example-27.json"
          },
          "NamespaceCreateGetUpdateDeleteGET28": {
            "$ref": "../examples/NamespaceCreateGetUpdateDelete-GET-example-28.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET24": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-24.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET25": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-25.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET26": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-26.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET27": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-27.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET28": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-28.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET29": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-29.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET210": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-210.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET211": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-211.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET212": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-212.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET213": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-213.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET214": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-214.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET215": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-215.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET216": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-216.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET217": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-217.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET218": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-218.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET219": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-219.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET220": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-220.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET221": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-221.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET222": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-222.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET223": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-223.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET224": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-224.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET225": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-225.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET226": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-226.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET227": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-227.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET228": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-228.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET229": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-229.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET230": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-230.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET231": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-231.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET232": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-232.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET233": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-233.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET234": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-234.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET235": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-235.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET236": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-236.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET237": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-237.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET238": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-238.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET239": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-239.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET240": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-240.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET241": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-241.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET242": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-242.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET243": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-243.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET244": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-244.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET245": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-245.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET246": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-246.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET247": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-247.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET248": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-248.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET249": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-249.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET250": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-250.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET251": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-251.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET252": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-252.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET253": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-253.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET254": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-254.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET255": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-255.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET256": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-256.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET257": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-257.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET258": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-258.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET259": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-259.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET260": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-260.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET261": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-261.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET262": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-262.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET263": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-263.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET264": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-264.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET265": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-265.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET266": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-266.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET267": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-267.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET268": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-268.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET269": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-269.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET270": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-270.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET271": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-271.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET272": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-272.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET273": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-273.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET274": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-274.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET275": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-275.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET276": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-276.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET277": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-277.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET278": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-278.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET279": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-279.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET280": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-280.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET281": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-281.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET282": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-282.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET283": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-283.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET284": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-284.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET285": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-285.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET286": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-286.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET287": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-287.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET288": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-288.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET289": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-289.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET290": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-290.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET291": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-291.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET292": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-292.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET293": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-293.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET294": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-294.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET295": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-295.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET296": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-296.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET297": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-297.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET298": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-298.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET299": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-299.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2100": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2100.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2101": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2101.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2102": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2102.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2103": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2103.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2104": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2104.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2105": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2105.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2106": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2106.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2107": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2107.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2108": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2108.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2109": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2109.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2110": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2110.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2111": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2111.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2112": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2112.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2113": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2113.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2114": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2114.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2115": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2115.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2116": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2116.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2117": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2117.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2118": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2118.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2119": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2119.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2120": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2120.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2121": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2121.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2122": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2122.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2123": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2123.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2124": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2124.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2125": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2125.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2126": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2126.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2127": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2127.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2128": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2128.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2129": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2129.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2130": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2130.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2131": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2131.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2132": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2132.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2133": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2133.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2134": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2134.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2135": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2135.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2136": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2136.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2137": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2137.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2138": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2138.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2139": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2139.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2140": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2140.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2141": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2141.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2142": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2142.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2143": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2143.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2144": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2144.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2145": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2145.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2146": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2146.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2147": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2147.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2148": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2148.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2149": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2149.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2150": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2150.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2151": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2151.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2152": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2152.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2153": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2153.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2154": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2154.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2155": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2155.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2156": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2156.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2157": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2157.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2158": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2158.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2159": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2159.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2160": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2160.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2161": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2161.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2162": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2162.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2163": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2163.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2164": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2164.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2165": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2165.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2166": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2166.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2167": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2167.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2168": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2168.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2169": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2169.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2170": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2170.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2171": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2171.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2172": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2172.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2173": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2173.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2174": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2174.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2175": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2175.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2176": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2176.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2177": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2177.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2178": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2178.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2179": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2179.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2180": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2180.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2181": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2181.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2182": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2182.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2183": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2183.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2184": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2184.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2185": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2185.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2186": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2186.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2187": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2187.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2188": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2188.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2189": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2189.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2190": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2190.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2191": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2191.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2192": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2192.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2193": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2193.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2194": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2194.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2195": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2195.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2196": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2196.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2197": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2197.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2198": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2198.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2199": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2199.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2200": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2200.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2201": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2201.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2202": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2202.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2203": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2203.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2204": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2204.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2205": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2205.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2206": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2206.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2207": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2207.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2208": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2208.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2209": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2209.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2210": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2210.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2211": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2211.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2212": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2212.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2213": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2213.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2214": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2214.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2215": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2215.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2216": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2216.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2217": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2217.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2218": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2218.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2219": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2219.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2220": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2220.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2221": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2221.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2222": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2222.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2223": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2223.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2224": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2224.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2225": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2225.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2226": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2226.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2227": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2227.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2228": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2228.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2229": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2229.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2230": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2230.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2231": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2231.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2232": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2232.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2233": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2233.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2234": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2234.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2235": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2235.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2236": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2236.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2237": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2237.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2238": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2238.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2239": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2239.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2240": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2240.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2241": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2241.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2242": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2242.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2243": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2243.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2244": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2244.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2245": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2245.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2246": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2246.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2247": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2247.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2248": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2248.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2249": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2249.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2250": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2250.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2251": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2251.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2252": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2252.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2253": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2253.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2254": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2254.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2255": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2255.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2256": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2256.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2257": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2257.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2258": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2258.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2259": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2259.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2260": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2260.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2261": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2261.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2262": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2262.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2263": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2263.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2264": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2264.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2265": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2265.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2266": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2266.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2267": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2267.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2268": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2268.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2269": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2269.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2270": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2270.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2271": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2271.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2272": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2272.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2273": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2273.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2274": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2274.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2275": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2275.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2276": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2276.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2277": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2277.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2278": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2278.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2279": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2279.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2280": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2280.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2281": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2281.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2282": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2282.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2283": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2283.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2284": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2284.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2285": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2285.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2286": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2286.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2287": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2287.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2288": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2288.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2289": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2289.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2290": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2290.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2291": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2291.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2292": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2292.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2293": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2293.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2294": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2294.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2295": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2295.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2296": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2296.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2297": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2297.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2298": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2298.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2299": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2299.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2300": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2300.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2301": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2301.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2302": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2302.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2303": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2303.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2304": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2304.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2305": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2305.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2306": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2306.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2307": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2307.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2308": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2308.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2309": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2309.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2310": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2310.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2311": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2311.json"
          },
          "NamespaceCreateGetUpdateDeleteAuthorizationRulesGET2312": {
            "$ref": "../examples/NamespaceCreateGetUpdateDeleteAuthorizationRules-GET-example-2312.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET24": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-24.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET25": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-25.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET26": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-26.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET27": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-27.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET28": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-28.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET29": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-29.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET210": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-210.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET211": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-211.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET212": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-212.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET213": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-213.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET214": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-214.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET215": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-215.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET216": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-216.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET217": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-217.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET218": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-218.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET219": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-219.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET220": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-220.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET221": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-221.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET222": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-222.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET223": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-223.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET224": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-224.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET225": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-225.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET226": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-226.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET227": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-227.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET228": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-228.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET229": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-229.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET230": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-230.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET231": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-231.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET232": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-232.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET233": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-233.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET234": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-234.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET235": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-235.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET236": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-236.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET237": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-237.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET238": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-238.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET239": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-239.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET240": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-240.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET241": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-241.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET242": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-242.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET243": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-243.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET244": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-244.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET245": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-245.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET246": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-246.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET247": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-247.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET248": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-248.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET249": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-249.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET250": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-250.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET251": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-251.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET252": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-252.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET253": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-253.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET254": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-254.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET255": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-255.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET256": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-256.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET257": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-257.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET258": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-258.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET259": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-259.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET260": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-260.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET261": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-261.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET262": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-262.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET263": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-263.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET264": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-264.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET265": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-265.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET266": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-266.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET267": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-267.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET268": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-268.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET269": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-269.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET270": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-270.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET271": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-271.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET272": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-272.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET273": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-273.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET274": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-274.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET275": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-275.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET276": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-276.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET277": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-277.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET278": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-278.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET279": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-279.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET280": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-280.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET281": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-281.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET282": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-282.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET283": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-283.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET284": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-284.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET285": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-285.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET286": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-286.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET287": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-287.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET288": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-288.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET289": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-289.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET290": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-290.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET291": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-291.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET292": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-292.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET293": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-293.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET294": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-294.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET295": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-295.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET296": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-296.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET297": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-297.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET298": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-298.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET299": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-299.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2100": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2100.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2101": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2101.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2102": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2102.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2103": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2103.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2104": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2104.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2105": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2105.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2106": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2106.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2107": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2107.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2108": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2108.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2109": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2109.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2110": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2110.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2111": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2111.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2112": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2112.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2113": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2113.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2114": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2114.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2115": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2115.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2116": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2116.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2117": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2117.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2118": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2118.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2119": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2119.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2120": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2120.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2121": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2121.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2122": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2122.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2123": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2123.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2124": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2124.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2125": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2125.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2126": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2126.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2127": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2127.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2128": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2128.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2129": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2129.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2130": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2130.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2131": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2131.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2132": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2132.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2133": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2133.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2134": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2134.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2135": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2135.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2136": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2136.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2137": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2137.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2138": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2138.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2139": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2139.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2140": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2140.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2141": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2141.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2142": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2142.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2143": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2143.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2144": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2144.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2145": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2145.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2146": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2146.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2147": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2147.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2148": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2148.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2149": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2149.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2150": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2150.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2151": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2151.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2152": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2152.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2153": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2153.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2154": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2154.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2155": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2155.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2156": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2156.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2157": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2157.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2158": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2158.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2159": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2159.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2160": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2160.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2161": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2161.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2162": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2162.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2163": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2163.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2164": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2164.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2165": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2165.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2166": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2166.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2167": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2167.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2168": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2168.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2169": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2169.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2170": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2170.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2171": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2171.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2172": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2172.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2173": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2173.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2174": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2174.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2175": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2175.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2176": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2176.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2177": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2177.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2178": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2178.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2179": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2179.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2180": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2180.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2181": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2181.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2182": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2182.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2183": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2183.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2184": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2184.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2185": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2185.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2186": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2186.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2187": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2187.json"
          },
          "NotificationHubCreateGetUpdateDeleteGET2188": {
            "$ref": "../examples/NotificationHubCreateGetUpdateDelete-GET-example-2188.json"
          },
[...]
