{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-01",
    "title": "RecoveryServicesBackupClient",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/revokeInstantItemRecovery": {
      "post": {
        "tags": [
          "ItemLevelRecoveryConnections"
        ],
        "description": "Revokes an iSCSI connection which can be used to download a script. Executing this script opens a file explorer displaying all recoverable files and folders. This is an asynchronous operation.",
        "operationId": "ItemLevelRecoveryConnections_Revoke",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup items. The value allowed is Azure.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup items.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of the backup items whose files or folders will be restored.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "description": "The string that identifies the recovery point. The iSCSI connection will be revoked for this protected data.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "The revocation was accepted."
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/provisionInstantItemRecovery": {
      "post": {
        "tags": [
          "ItemLevelRecoveryConnections"
        ],
        "description": "Provisions a script which invokes an iSCSI connection to the backup data. Executing this script opens File Explorer which displays the recoverable files and folders. This is an asynchronous operation. To get the provisioning status, call GetProtectedItemOperationResult API.",
        "operationId": "ItemLevelRecoveryConnections_Provision",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup items.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup items.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of the backup item whose files or folders are to be restored.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "description": "The recovery point ID for backup data. The iSCSI connection will be provisioned for this backup data.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceILRRequest",
            "in": "body",
            "description": "The resource Item Level Recovery (ILR) request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ILRRequestResource"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted."
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore": {
      "post": {
        "tags": [
          "Restores"
        ],
        "description": "Restores the specified backup data. This is an asynchronous operation. To know the status of this API call, use GetProtectedItemOperationResult API.",
        "operationId": "Restores_Trigger",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup items.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup items.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The backup item to be restored.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "description": "The recovery point ID for the backup data to be restored.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceRestoreRequest",
            "in": "body",
            "description": "The resource restore request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RestoreRequestResource"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The data restore operation was accepted."
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestPOST31364": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-POST-example-31364.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operations/{operationId}": {
      "get": {
        "tags": [
          "ProtectionPolicyOperationStatuses"
        ],
        "description": "Provides the status of the asynchronous operations like backup or restore. The status can be: in progress, completed, or failed. You can refer to the Operation Status enumeration for the possible states of an operation. Some operations create jobs. This method returns the list of jobs associated with the operation.",
        "operationId": "ProtectionPolicyOperationStatuses_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The backup policy name used in this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The ID associated with this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "ProtectionPolicyOperationResults"
        ],
        "description": "Provides the result of an operation.",
        "operationId": "ProtectionPolicyOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The backup policy name used in this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The ID associated with this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResource"
            }
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}": {
      "get": {
        "tags": [
          "ProtectionPolicies"
        ],
        "description": "Gets the details of the backup policy associated with the Recovery Services vault. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.",
        "operationId": "ProtectionPolicies_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The backup policy name used in this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResource"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestGET63": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-63.json"
          }
        }
      },
      "put": {
        "tags": [
          "ProtectionPolicies"
        ],
        "description": "Creates or modifies a backup policy. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.",
        "operationId": "ProtectionPolicies_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The backup policy to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceProtectionPolicy",
            "in": "body",
            "description": "The resource backup policy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResource"
            }
          },
          "202": {
            "description": "Accepted."
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "ProtectionPolicies"
        ],
        "description": "Deletes the specified backup policy from your Recovery Services vault. This is an asynchronous operation. Use the GetPolicyOperationResult API to Get the operation status.",
        "operationId": "ProtectionPolicies_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the backup policy to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "204": {
            "description": "No content."
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies": {
      "get": {
        "tags": [
          "ProtectionPolicies"
        ],
        "description": "Lists the backup policies associated with the Recovery Services vault. The API provides parameters to Get scoped results.",
        "operationId": "ProtectionPolicies_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The following equation can be used to filter the list of backup policies. backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql}.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-odata": "#/definitions/ProtectionPolicyQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "null"
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "ProtectionContainerOperationResults"
        ],
        "description": "Gets the result of any operation on the container.",
        "operationId": "ProtectionContainerOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the container.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name used for this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The operation ID used for this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectionContainerResource"
            }
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No content."
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "ProtectionContainerRefreshOperationResults"
        ],
        "description": "Provides the result of the refresh operation triggered by the BeginRefresh operation.",
        "operationId": "ProtectionContainerRefreshOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the container.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The operation ID used for this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No content."
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}": {
      "get": {
        "tags": [
          "ProtectionContainers"
        ],
        "description": "Gets details of the specific container registered to your Recovery Services vault.",
        "operationId": "ProtectionContainers_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the container.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name used for this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectionContainerResource"
            }
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectionContainers": {
      "get": {
        "tags": [
          "ProtectionContainers"
        ],
        "description": "Lists the containers registered to the Recovery Services vault.",
        "operationId": "ProtectionContainers_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The following equation is used to sort or filter the containers registered to the vault. providerType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql} and status eq {Unknown, NotRegistered, Registered, Registering} and friendlyName eq {containername} and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql}.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectionContainerResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-odata": "#/definitions/BMSContainerQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "null"
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/refreshContainers": {
      "post": {
        "tags": [
          "ProtectionContainers"
        ],
        "description": "Discovers the containers in the subscription that can be protected in a Recovery Services vault. This is an asynchronous operation. To learn the status of the operation, use the GetRefreshOperationResult API.",
        "operationId": "ProtectionContainers_Refresh",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the container.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted."
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestPOST124": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-POST-example-124.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}": {
      "get": {
        "tags": [
          "RecoveryPoints"
        ],
        "description": "Provides the backup data for the RecoveryPointID. This is an asynchronous operation. To learn the status of the operation, call the GetProtectedItemOperationResult API.",
        "operationId": "RecoveryPoints_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of the backup item used in this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "description": "The RecoveryPointID associated with this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/RecoveryPointResource"
            }
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints": {
      "get": {
        "tags": [
          "RecoveryPoints"
        ],
        "description": "Lists the recovery points, or backup copies, for the specified backup item.",
        "operationId": "RecoveryPoints_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of backup item used in this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "startDate eq {yyyy-mm-dd hh:mm:ss PM} and endDate { yyyy-mm-dd hh:mm:ss PM}.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/RecoveryPointResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-odata": "#/definitions/BMSRPQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "null"
        },
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestGET141363": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-141363.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/backup": {
      "post": {
        "tags": [
          "Backups"
        ],
        "description": "Triggers the backup job for the specified backup item. This is an asynchronous operation. To know the status of the operation, call GetProtectedItemOperationResult API.",
        "operationId": "Backups_Trigger",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of backup item used in this POST operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceBackupRequest",
            "in": "body",
            "description": "The resource backup request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupRequestResource"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestPOST1523": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-POST-example-1523.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationsStatus/{operationId}": {
      "get": {
        "tags": [
          "ProtectedItemOperationStatuses"
        ],
        "description": "Gets the status of an operation such as triggering a backup or restore. The status can be: In progress, Completed, or Failed. You can refer to the OperationStatus enum for all the possible states of the operation. Some operations create jobs. This method returns the list of jobs associated with the operation.",
        "operationId": "ProtectedItemOperationStatuses_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of backup item used in this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The OperationID used in this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestGET1621": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1621.json"
          },
          "TriggerBackupAndRestoreTestGET1626": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1626.json"
          },
          "TriggerBackupAndRestoreTestGET161367": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-161367.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "ProtectedItemOperationResults"
        ],
        "description": "Gets the result of any operation on the backup item.",
        "operationId": "ProtectedItemOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of backup item used in this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The OperationID used in this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemResource"
            }
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No content."
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestGET177": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-177.json"
          },
          "TriggerBackupAndRestoreTestGET178": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-178.json"
          },
          "TriggerBackupAndRestoreTestGET179": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-179.json"
          },
          "TriggerBackupAndRestoreTestGET1710": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1710.json"
          },
          "TriggerBackupAndRestoreTestGET1711": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1711.json"
          },
          "TriggerBackupAndRestoreTestGET1712": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1712.json"
          },
          "TriggerBackupAndRestoreTestGET1713": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1713.json"
          },
          "TriggerBackupAndRestoreTestGET1714": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1714.json"
          },
          "TriggerBackupAndRestoreTestGET1715": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1715.json"
          },
          "TriggerBackupAndRestoreTestGET1716": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1716.json"
          },
          "TriggerBackupAndRestoreTestGET1717": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1717.json"
          },
          "TriggerBackupAndRestoreTestGET1718": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1718.json"
          },
          "TriggerBackupAndRestoreTestGET1719": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1719.json"
          },
          "TriggerBackupAndRestoreTestGET1720": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1720.json"
          },
          "TriggerBackupAndRestoreTestGET1724": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1724.json"
          },
          "TriggerBackupAndRestoreTestGET1725": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1725.json"
          },
          "TriggerBackupAndRestoreTestGET171365": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-171365.json"
          },
          "TriggerBackupAndRestoreTestGET171366": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-171366.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems": {
      "get": {
        "tags": [
          "ProtectedItems"
        ],
        "description": "Provides a pageable list of all items in a subscription, that can be protected.",
        "operationId": "ProtectedItems_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": " itemType eq { VM , FileFolder , AzureSqlDb , SQLDB , Exchange , Sharepoint , DPMUnknown } and providerType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and policyName eq {policyname} and containerName eq {containername} and backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": " The Skip Token filter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-odata": "#/definitions/ProtectedItemQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestGET1822": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-1822.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}": {
      "get": {
        "tags": [
          "ProtectedItems"
        ],
        "description": "Provides the details of the backup item. This is an asynchronous operation. To know the status of the operation, call the GetItemOperationResult API.",
        "operationId": "ProtectedItems_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The backup item name used in this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "expand eq {extendedinfo}. This filter enables you to choose (or filter) specific items in the list of backup items.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemResource"
            }
          }
        },
        "deprecated": false,
        "x-ms-odata": "#/definitions/GetProtectedItemQueryObject"
      },
      "put": {
        "tags": [
          "ProtectedItems"
        ],
        "description": "This operation enables an item to be backed up, or modifies the existing backup policy information for an item that has been backed up. This is an asynchronous operation. To learn the status of the operation, call the GetItemOperationResult API.",
        "operationId": "ProtectedItems_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceProtectedItem",
            "in": "body",
            "description": "The resource backup item.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProtectedItemResource"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted."
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestPUT196": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-PUT-example-196.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ProtectedItems"
        ],
        "description": "Used to disable the backup job for an item within a container. This is an asynchronous operation. To learn the status of the request, call the GetItemOperationResult API.",
        "operationId": "ProtectedItems_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": " The fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The backup item to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No content."
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestDELETE192590": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-DELETE-example-192590.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectableItems": {
      "get": {
        "tags": [
          "ProtectableItems"
        ],
        "description": "Based on the query filter and the pagination parameters, this operation provides a pageable list of objects within the subscription that can be protected.",
        "operationId": "ProtectableItems_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Using the following query filters, you can sort a specific backup item based on: type of backup item, status, name of the item, and more.  providerType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and status eq { NotProtected , Protecting , Protected } and friendlyName {name} and skipToken eq {string which provides the next set of list} and topToken eq {int} and backupManagementType eq { AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql }.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The Skip Token filter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkloadProtectableItemResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-odata": "#/definitions/BMSPOQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestGET205": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-205.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}": {
      "get": {
        "tags": [
          "ExportJobsOperationResults"
        ],
        "description": "Gets the result of the operation triggered by the ExportJob API.",
        "operationId": "ExportJobsOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The ID associated with the export job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/OperationResultInfoBaseResource"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "JobOperationResults"
        ],
        "description": "Gets the result of the operation.",
        "operationId": "JobOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "Job name associated with this GET operation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "OperationID associated with this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No content."
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Exports all jobs for a given Shared Access Signatures (SAS) URL. The SAS URL expires within 15 minutes of its creation.",
        "operationId": "Jobs_Export",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The OData filter options. status eq { InProgress , Completed , Failed , CompletedWithWarnings , Cancelled , Cancelling } and backupManagementType eq {AzureIaasVM, MAB, DPM, AzureBackupServer, AzureSql } and operation eq { ConfigureBackup , Backup , Restore , DisableBackup , DeleteBackupData } and jobId eq {guid} and startTime eq { yyyy-mm-dd hh:mm:ss PM } and endTime eq { yyyy-mm-dd hh:mm:ss PM }.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted."
          }
        },
        "deprecated": false,
        "x-ms-odata": "#/definitions/JobQueryObject"
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel": {
      "post": {
        "tags": [
          "JobCancellations"
        ],
        "description": "Cancels the job. This is an asynchronous operation. To know the status of the cancellation, call the GetCancelOperationResult API.",
        "operationId": "JobCancellations_Trigger",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "Name of the job to cancel.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted."
          }
        },
        "deprecated": false
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}": {
      "get": {
        "tags": [
          "JobDetails"
        ],
        "description": "Gets extended information associated with the job.",
        "operationId": "JobDetails_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "Name of the job associated with this GET operation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "TriggerBackupAndRestoreTestGET2527": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2527.json"
          },
          "TriggerBackupAndRestoreTestGET2528": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2528.json"
          },
          "TriggerBackupAndRestoreTestGET2529": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2529.json"
          },
          "TriggerBackupAndRestoreTestGET2530": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2530.json"
          },
          "TriggerBackupAndRestoreTestGET2531": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2531.json"
          },
          "TriggerBackupAndRestoreTestGET2532": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2532.json"
          },
          "TriggerBackupAndRestoreTestGET2533": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2533.json"
          },
          "TriggerBackupAndRestoreTestGET2534": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2534.json"
          },
          "TriggerBackupAndRestoreTestGET2535": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2535.json"
          },
          "TriggerBackupAndRestoreTestGET2536": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2536.json"
          },
          "TriggerBackupAndRestoreTestGET2537": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2537.json"
          },
          "TriggerBackupAndRestoreTestGET2538": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2538.json"
          },
          "TriggerBackupAndRestoreTestGET2539": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2539.json"
          },
          "TriggerBackupAndRestoreTestGET2540": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2540.json"
          },
          "TriggerBackupAndRestoreTestGET2541": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2541.json"
          },
          "TriggerBackupAndRestoreTestGET2542": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2542.json"
          },
          "TriggerBackupAndRestoreTestGET2543": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2543.json"
          },
          "TriggerBackupAndRestoreTestGET2544": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2544.json"
          },
          "TriggerBackupAndRestoreTestGET2545": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2545.json"
          },
          "TriggerBackupAndRestoreTestGET2546": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2546.json"
          },
          "TriggerBackupAndRestoreTestGET2547": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2547.json"
          },
          "TriggerBackupAndRestoreTestGET2548": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2548.json"
          },
          "TriggerBackupAndRestoreTestGET2549": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2549.json"
          },
          "TriggerBackupAndRestoreTestGET2550": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2550.json"
          },
          "TriggerBackupAndRestoreTestGET2551": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2551.json"
          },
          "TriggerBackupAndRestoreTestGET2552": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2552.json"
          },
          "TriggerBackupAndRestoreTestGET2553": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2553.json"
          },
          "TriggerBackupAndRestoreTestGET2554": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2554.json"
          },
          "TriggerBackupAndRestoreTestGET2555": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2555.json"
          },
          "TriggerBackupAndRestoreTestGET2556": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2556.json"
          },
          "TriggerBackupAndRestoreTestGET2557": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2557.json"
          },
          "TriggerBackupAndRestoreTestGET2558": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2558.json"
          },
          "TriggerBackupAndRestoreTestGET2559": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2559.json"
          },
          "TriggerBackupAndRestoreTestGET2560": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2560.json"
          },
          "TriggerBackupAndRestoreTestGET2561": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2561.json"
          },
          "TriggerBackupAndRestoreTestGET2562": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2562.json"
          },
          "TriggerBackupAndRestoreTestGET2563": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2563.json"
          },
          "TriggerBackupAndRestoreTestGET2564": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2564.json"
          },
          "TriggerBackupAndRestoreTestGET2565": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2565.json"
          },
          "TriggerBackupAndRestoreTestGET2566": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2566.json"
          },
          "TriggerBackupAndRestoreTestGET2567": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2567.json"
          },
          "TriggerBackupAndRestoreTestGET2568": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2568.json"
          },
          "TriggerBackupAndRestoreTestGET2569": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2569.json"
          },
          "TriggerBackupAndRestoreTestGET2570": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2570.json"
          },
          "TriggerBackupAndRestoreTestGET2571": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2571.json"
          },
          "TriggerBackupAndRestoreTestGET2572": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2572.json"
          },
          "TriggerBackupAndRestoreTestGET2573": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2573.json"
          },
          "TriggerBackupAndRestoreTestGET2574": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2574.json"
          },
          "TriggerBackupAndRestoreTestGET2575": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2575.json"
          },
          "TriggerBackupAndRestoreTestGET2576": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2576.json"
          },
          "TriggerBackupAndRestoreTestGET2577": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2577.json"
          },
          "TriggerBackupAndRestoreTestGET2578": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2578.json"
          },
          "TriggerBackupAndRestoreTestGET2579": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2579.json"
          },
          "TriggerBackupAndRestoreTestGET2580": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2580.json"
          },
          "TriggerBackupAndRestoreTestGET2581": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2581.json"
          },
          "TriggerBackupAndRestoreTestGET2582": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2582.json"
          },
          "TriggerBackupAndRestoreTestGET2583": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2583.json"
          },
          "TriggerBackupAndRestoreTestGET2584": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2584.json"
          },
          "TriggerBackupAndRestoreTestGET2585": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2585.json"
          },
          "TriggerBackupAndRestoreTestGET2586": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2586.json"
          },
          "TriggerBackupAndRestoreTestGET2587": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2587.json"
          },
          "TriggerBackupAndRestoreTestGET2588": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2588.json"
          },
          "TriggerBackupAndRestoreTestGET2589": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2589.json"
          },
          "TriggerBackupAndRestoreTestGET2590": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2590.json"
          },
          "TriggerBackupAndRestoreTestGET2591": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2591.json"
          },
          "TriggerBackupAndRestoreTestGET2592": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2592.json"
          },
          "TriggerBackupAndRestoreTestGET2593": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2593.json"
          },
          "TriggerBackupAndRestoreTestGET2594": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2594.json"
          },
          "TriggerBackupAndRestoreTestGET2595": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2595.json"
          },
          "TriggerBackupAndRestoreTestGET2596": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2596.json"
          },
          "TriggerBackupAndRestoreTestGET2597": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2597.json"
          },
          "TriggerBackupAndRestoreTestGET2598": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2598.json"
          },
          "TriggerBackupAndRestoreTestGET2599": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-2599.json"
          },
          "TriggerBackupAndRestoreTestGET25100": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25100.json"
          },
          "TriggerBackupAndRestoreTestGET25101": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25101.json"
          },
          "TriggerBackupAndRestoreTestGET25102": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25102.json"
          },
          "TriggerBackupAndRestoreTestGET25103": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25103.json"
          },
          "TriggerBackupAndRestoreTestGET25104": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25104.json"
          },
          "TriggerBackupAndRestoreTestGET25105": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25105.json"
          },
          "TriggerBackupAndRestoreTestGET25106": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25106.json"
          },
          "TriggerBackupAndRestoreTestGET25107": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25107.json"
          },
          "TriggerBackupAndRestoreTestGET25108": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25108.json"
          },
          "TriggerBackupAndRestoreTestGET25109": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25109.json"
          },
          "TriggerBackupAndRestoreTestGET25110": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25110.json"
          },
          "TriggerBackupAndRestoreTestGET25111": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25111.json"
          },
          "TriggerBackupAndRestoreTestGET25112": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25112.json"
          },
          "TriggerBackupAndRestoreTestGET25113": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25113.json"
          },
          "TriggerBackupAndRestoreTestGET25114": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25114.json"
          },
          "TriggerBackupAndRestoreTestGET25115": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25115.json"
          },
          "TriggerBackupAndRestoreTestGET25116": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25116.json"
          },
          "TriggerBackupAndRestoreTestGET25117": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25117.json"
          },
          "TriggerBackupAndRestoreTestGET25118": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25118.json"
          },
          "TriggerBackupAndRestoreTestGET25119": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25119.json"
          },
          "TriggerBackupAndRestoreTestGET25120": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25120.json"
          },
          "TriggerBackupAndRestoreTestGET25121": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25121.json"
          },
          "TriggerBackupAndRestoreTestGET25122": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25122.json"
          },
          "TriggerBackupAndRestoreTestGET25123": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25123.json"
          },
          "TriggerBackupAndRestoreTestGET25124": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25124.json"
          },
          "TriggerBackupAndRestoreTestGET25125": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25125.json"
          },
          "TriggerBackupAndRestoreTestGET25126": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25126.json"
          },
          "TriggerBackupAndRestoreTestGET25127": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25127.json"
          },
          "TriggerBackupAndRestoreTestGET25128": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25128.json"
          },
          "TriggerBackupAndRestoreTestGET25129": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25129.json"
          },
          "TriggerBackupAndRestoreTestGET25130": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25130.json"
          },
          "TriggerBackupAndRestoreTestGET25131": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25131.json"
          },
          "TriggerBackupAndRestoreTestGET25132": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25132.json"
          },
          "TriggerBackupAndRestoreTestGET25133": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25133.json"
          },
          "TriggerBackupAndRestoreTestGET25134": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25134.json"
          },
          "TriggerBackupAndRestoreTestGET25135": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25135.json"
          },
          "TriggerBackupAndRestoreTestGET25136": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25136.json"
          },
          "TriggerBackupAndRestoreTestGET25137": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25137.json"
          },
          "TriggerBackupAndRestoreTestGET25138": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25138.json"
          },
          "TriggerBackupAndRestoreTestGET25139": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25139.json"
          },
          "TriggerBackupAndRestoreTestGET25140": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25140.json"
          },
          "TriggerBackupAndRestoreTestGET25141": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25141.json"
          },
          "TriggerBackupAndRestoreTestGET25142": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25142.json"
          },
          "TriggerBackupAndRestoreTestGET25143": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25143.json"
          },
          "TriggerBackupAndRestoreTestGET25144": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25144.json"
          },
          "TriggerBackupAndRestoreTestGET25145": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25145.json"
          },
          "TriggerBackupAndRestoreTestGET25146": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25146.json"
          },
          "TriggerBackupAndRestoreTestGET25147": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25147.json"
          },
          "TriggerBackupAndRestoreTestGET25148": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25148.json"
          },
          "TriggerBackupAndRestoreTestGET25149": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25149.json"
          },
          "TriggerBackupAndRestoreTestGET25150": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25150.json"
          },
          "TriggerBackupAndRestoreTestGET25151": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25151.json"
          },
          "TriggerBackupAndRestoreTestGET25152": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25152.json"
          },
          "TriggerBackupAndRestoreTestGET25153": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25153.json"
          },
          "TriggerBackupAndRestoreTestGET25154": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25154.json"
          },
          "TriggerBackupAndRestoreTestGET25155": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25155.json"
          },
          "TriggerBackupAndRestoreTestGET25156": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25156.json"
          },
          "TriggerBackupAndRestoreTestGET25157": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25157.json"
          },
          "TriggerBackupAndRestoreTestGET25158": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25158.json"
          },
          "TriggerBackupAndRestoreTestGET25159": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25159.json"
          },
          "TriggerBackupAndRestoreTestGET25160": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25160.json"
          },
          "TriggerBackupAndRestoreTestGET25161": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25161.json"
          },
          "TriggerBackupAndRestoreTestGET25162": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25162.json"
          },
          "TriggerBackupAndRestoreTestGET25163": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25163.json"
          },
          "TriggerBackupAndRestoreTestGET25164": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25164.json"
          },
          "TriggerBackupAndRestoreTestGET25165": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25165.json"
          },
          "TriggerBackupAndRestoreTestGET25166": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25166.json"
          },
          "TriggerBackupAndRestoreTestGET25167": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25167.json"
          },
          "TriggerBackupAndRestoreTestGET25168": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25168.json"
          },
          "TriggerBackupAndRestoreTestGET25169": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25169.json"
          },
          "TriggerBackupAndRestoreTestGET25170": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25170.json"
          },
          "TriggerBackupAndRestoreTestGET25171": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25171.json"
          },
          "TriggerBackupAndRestoreTestGET25172": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25172.json"
          },
          "TriggerBackupAndRestoreTestGET25173": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25173.json"
          },
          "TriggerBackupAndRestoreTestGET25174": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25174.json"
          },
          "TriggerBackupAndRestoreTestGET25175": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25175.json"
          },
          "TriggerBackupAndRestoreTestGET25176": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25176.json"
          },
          "TriggerBackupAndRestoreTestGET25177": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25177.json"
          },
          "TriggerBackupAndRestoreTestGET25178": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25178.json"
          },
          "TriggerBackupAndRestoreTestGET25179": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25179.json"
          },
          "TriggerBackupAndRestoreTestGET25180": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25180.json"
          },
          "TriggerBackupAndRestoreTestGET25181": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25181.json"
          },
          "TriggerBackupAndRestoreTestGET25182": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25182.json"
          },
          "TriggerBackupAndRestoreTestGET25183": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25183.json"
          },
          "TriggerBackupAndRestoreTestGET25184": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25184.json"
          },
          "TriggerBackupAndRestoreTestGET25185": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25185.json"
          },
          "TriggerBackupAndRestoreTestGET25186": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25186.json"
          },
          "TriggerBackupAndRestoreTestGET25187": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25187.json"
          },
          "TriggerBackupAndRestoreTestGET25188": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25188.json"
          },
          "TriggerBackupAndRestoreTestGET25189": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25189.json"
          },
          "TriggerBackupAndRestoreTestGET25190": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25190.json"
          },
          "TriggerBackupAndRestoreTestGET25191": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25191.json"
          },
          "TriggerBackupAndRestoreTestGET25192": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25192.json"
          },
          "TriggerBackupAndRestoreTestGET25193": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25193.json"
          },
          "TriggerBackupAndRestoreTestGET25194": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25194.json"
          },
          "TriggerBackupAndRestoreTestGET25195": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25195.json"
          },
          "TriggerBackupAndRestoreTestGET25196": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25196.json"
          },
          "TriggerBackupAndRestoreTestGET25197": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25197.json"
          },
          "TriggerBackupAndRestoreTestGET25198": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25198.json"
          },
          "TriggerBackupAndRestoreTestGET25199": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25199.json"
          },
          "TriggerBackupAndRestoreTestGET25200": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25200.json"
          },
          "TriggerBackupAndRestoreTestGET25201": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25201.json"
          },
          "TriggerBackupAndRestoreTestGET25202": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25202.json"
          },
          "TriggerBackupAndRestoreTestGET25203": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25203.json"
          },
          "TriggerBackupAndRestoreTestGET25204": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25204.json"
          },
          "TriggerBackupAndRestoreTestGET25205": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25205.json"
          },
          "TriggerBackupAndRestoreTestGET25206": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25206.json"
          },
          "TriggerBackupAndRestoreTestGET25207": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25207.json"
          },
          "TriggerBackupAndRestoreTestGET25208": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25208.json"
          },
          "TriggerBackupAndRestoreTestGET25209": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25209.json"
          },
          "TriggerBackupAndRestoreTestGET25210": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25210.json"
          },
          "TriggerBackupAndRestoreTestGET25211": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25211.json"
          },
          "TriggerBackupAndRestoreTestGET25212": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25212.json"
          },
          "TriggerBackupAndRestoreTestGET25213": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25213.json"
          },
          "TriggerBackupAndRestoreTestGET25214": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25214.json"
          },
          "TriggerBackupAndRestoreTestGET25215": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25215.json"
          },
          "TriggerBackupAndRestoreTestGET25216": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25216.json"
          },
          "TriggerBackupAndRestoreTestGET25217": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25217.json"
          },
          "TriggerBackupAndRestoreTestGET25218": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25218.json"
          },
          "TriggerBackupAndRestoreTestGET25219": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25219.json"
          },
          "TriggerBackupAndRestoreTestGET25220": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25220.json"
          },
          "TriggerBackupAndRestoreTestGET25221": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25221.json"
          },
          "TriggerBackupAndRestoreTestGET25222": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25222.json"
          },
          "TriggerBackupAndRestoreTestGET25223": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25223.json"
          },
          "TriggerBackupAndRestoreTestGET25224": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25224.json"
          },
          "TriggerBackupAndRestoreTestGET25225": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25225.json"
          },
          "TriggerBackupAndRestoreTestGET25226": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25226.json"
          },
          "TriggerBackupAndRestoreTestGET25227": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25227.json"
          },
          "TriggerBackupAndRestoreTestGET25228": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25228.json"
          },
          "TriggerBackupAndRestoreTestGET25229": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25229.json"
          },
          "TriggerBackupAndRestoreTestGET25230": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25230.json"
          },
          "TriggerBackupAndRestoreTestGET25231": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25231.json"
          },
          "TriggerBackupAndRestoreTestGET25232": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25232.json"
          },
          "TriggerBackupAndRestoreTestGET25233": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25233.json"
          },
          "TriggerBackupAndRestoreTestGET25234": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25234.json"
          },
          "TriggerBackupAndRestoreTestGET25235": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25235.json"
          },
          "TriggerBackupAndRestoreTestGET25236": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25236.json"
          },
          "TriggerBackupAndRestoreTestGET25237": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25237.json"
          },
          "TriggerBackupAndRestoreTestGET25238": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25238.json"
          },
          "TriggerBackupAndRestoreTestGET25239": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25239.json"
          },
          "TriggerBackupAndRestoreTestGET25240": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25240.json"
          },
          "TriggerBackupAndRestoreTestGET25241": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25241.json"
          },
          "TriggerBackupAndRestoreTestGET25242": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25242.json"
          },
          "TriggerBackupAndRestoreTestGET25243": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25243.json"
          },
          "TriggerBackupAndRestoreTestGET25244": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25244.json"
          },
          "TriggerBackupAndRestoreTestGET25245": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25245.json"
          },
          "TriggerBackupAndRestoreTestGET25246": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25246.json"
          },
          "TriggerBackupAndRestoreTestGET25247": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25247.json"
          },
          "TriggerBackupAndRestoreTestGET25248": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25248.json"
          },
          "TriggerBackupAndRestoreTestGET25249": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25249.json"
          },
          "TriggerBackupAndRestoreTestGET25250": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25250.json"
          },
          "TriggerBackupAndRestoreTestGET25251": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25251.json"
          },
          "TriggerBackupAndRestoreTestGET25252": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25252.json"
          },
          "TriggerBackupAndRestoreTestGET25253": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25253.json"
          },
          "TriggerBackupAndRestoreTestGET25254": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25254.json"
          },
          "TriggerBackupAndRestoreTestGET25255": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25255.json"
          },
          "TriggerBackupAndRestoreTestGET25256": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25256.json"
          },
          "TriggerBackupAndRestoreTestGET25257": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25257.json"
          },
          "TriggerBackupAndRestoreTestGET25258": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25258.json"
          },
          "TriggerBackupAndRestoreTestGET25259": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25259.json"
          },
          "TriggerBackupAndRestoreTestGET25260": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25260.json"
          },
          "TriggerBackupAndRestoreTestGET25261": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25261.json"
          },
          "TriggerBackupAndRestoreTestGET25262": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25262.json"
          },
          "TriggerBackupAndRestoreTestGET25263": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25263.json"
          },
          "TriggerBackupAndRestoreTestGET25264": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25264.json"
          },
          "TriggerBackupAndRestoreTestGET25265": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25265.json"
          },
          "TriggerBackupAndRestoreTestGET25266": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25266.json"
          },
          "TriggerBackupAndRestoreTestGET25267": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25267.json"
          },
          "TriggerBackupAndRestoreTestGET25268": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25268.json"
          },
          "TriggerBackupAndRestoreTestGET25269": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25269.json"
          },
          "TriggerBackupAndRestoreTestGET25270": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25270.json"
          },
          "TriggerBackupAndRestoreTestGET25271": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25271.json"
          },
          "TriggerBackupAndRestoreTestGET25272": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25272.json"
          },
          "TriggerBackupAndRestoreTestGET25273": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25273.json"
          },
          "TriggerBackupAndRestoreTestGET25274": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25274.json"
          },
          "TriggerBackupAndRestoreTestGET25275": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25275.json"
          },
          "TriggerBackupAndRestoreTestGET25276": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25276.json"
          },
          "TriggerBackupAndRestoreTestGET25277": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25277.json"
          },
          "TriggerBackupAndRestoreTestGET25278": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25278.json"
          },
          "TriggerBackupAndRestoreTestGET25279": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25279.json"
          },
          "TriggerBackupAndRestoreTestGET25280": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25280.json"
          },
          "TriggerBackupAndRestoreTestGET25281": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25281.json"
          },
          "TriggerBackupAndRestoreTestGET25282": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25282.json"
          },
          "TriggerBackupAndRestoreTestGET25283": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25283.json"
          },
          "TriggerBackupAndRestoreTestGET25284": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25284.json"
          },
          "TriggerBackupAndRestoreTestGET25285": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25285.json"
          },
          "TriggerBackupAndRestoreTestGET25286": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25286.json"
          },
          "TriggerBackupAndRestoreTestGET25287": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25287.json"
          },
          "TriggerBackupAndRestoreTestGET25288": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25288.json"
          },
          "TriggerBackupAndRestoreTestGET25289": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25289.json"
          },
          "TriggerBackupAndRestoreTestGET25290": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25290.json"
          },
          "TriggerBackupAndRestoreTestGET25291": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25291.json"
          },
          "TriggerBackupAndRestoreTestGET25292": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25292.json"
          },
          "TriggerBackupAndRestoreTestGET25293": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25293.json"
          },
          "TriggerBackupAndRestoreTestGET25294": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25294.json"
          },
          "TriggerBackupAndRestoreTestGET25295": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25295.json"
          },
          "TriggerBackupAndRestoreTestGET25296": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25296.json"
          },
          "TriggerBackupAndRestoreTestGET25297": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25297.json"
          },
          "TriggerBackupAndRestoreTestGET25298": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25298.json"
          },
          "TriggerBackupAndRestoreTestGET25299": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25299.json"
          },
          "TriggerBackupAndRestoreTestGET25300": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25300.json"
          },
          "TriggerBackupAndRestoreTestGET25301": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25301.json"
          },
          "TriggerBackupAndRestoreTestGET25302": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25302.json"
          },
          "TriggerBackupAndRestoreTestGET25303": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25303.json"
          },
          "TriggerBackupAndRestoreTestGET25304": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25304.json"
          },
          "TriggerBackupAndRestoreTestGET25305": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25305.json"
          },
          "TriggerBackupAndRestoreTestGET25306": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25306.json"
          },
          "TriggerBackupAndRestoreTestGET25307": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25307.json"
          },
          "TriggerBackupAndRestoreTestGET25308": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25308.json"
          },
          "TriggerBackupAndRestoreTestGET25309": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25309.json"
          },
          "TriggerBackupAndRestoreTestGET25310": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25310.json"
          },
          "TriggerBackupAndRestoreTestGET25311": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25311.json"
          },
          "TriggerBackupAndRestoreTestGET25312": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25312.json"
          },
          "TriggerBackupAndRestoreTestGET25313": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25313.json"
          },
          "TriggerBackupAndRestoreTestGET25314": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25314.json"
          },
          "TriggerBackupAndRestoreTestGET25315": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25315.json"
          },
          "TriggerBackupAndRestoreTestGET25316": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25316.json"
          },
          "TriggerBackupAndRestoreTestGET25317": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25317.json"
          },
          "TriggerBackupAndRestoreTestGET25318": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25318.json"
          },
          "TriggerBackupAndRestoreTestGET25319": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25319.json"
          },
          "TriggerBackupAndRestoreTestGET25320": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25320.json"
          },
          "TriggerBackupAndRestoreTestGET25321": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25321.json"
          },
          "TriggerBackupAndRestoreTestGET25322": {
            "$ref": "../examples/TriggerBackupAndRestoreTest-GET-example-25322.json"
          },
[...]
